---
---

@charset "utf-8";
@import "fonts.scss";
@import "fontawesome.scss";
@import "bulma.scss";
@import "bulma-tooltip.min.scss";
@import "respiration.scss";
@import "zoom-vanilla.scss";

body,
body * {
  letter-spacing: 0.02em;
}
strong {
  font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
  letter-spacing: 0;
}
body .section.article {
  padding: 3rem 0 3rem 0;
}
body .section.article:first-of-type {
  padding: 0 0 3rem 0;
}
.article .content h1 {
  font-size: $size-1;
  color: $purple;
}
.article .content a:not(.button):not(.tag) {
  text-decoration: underline;
  color: inherit;
  background: transparent;
}
.article .content a:hover:not(.button):not(.tag) {
  text-decoration: underline;
  color: inherit;
  background: $purple-light;
}
.article .content .highlight a:hover:not(.button) {
  text-decoration: underline;
  color: inherit;
  background: $purple-heavy;
}
.title.is-2,
.article .content h2 {
  color: $purple;
  font-size: $size-2;
  font-family: "Abril Display W05 Italic",serif;
  font-weight: 300;
  line-height: 1.125;
}
.title.is-3,
.article .content h3 {
  font-family: 'Futura LT W05 Book', sans-serif;
  font-weight: 300;
  font-size: $size-6;
  color: $purple;
  text-transform: uppercase;
}
.article .tag.is-white {
  color: $purple;
  font-family: "Futura LT W05 Medium","Futura LT W05 Book",sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.article .citation.fat {
  background: transparent;
  border: 0;
  text-align: center;
  color: $purple-heavy;
  font-size: $size-1;
  font-family: "Abril Display W05 Italic",serif;
  font-weight: 300;
}
.video-responsive {
  overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0;

  iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
  }
}
.border-top-white {
  border-top: 2px #ffffff solid;
}
img.fill {
  width:100%;
  height:100%;
  object-fit: cover;
}
.article .achat {
  margin-top: $block-spacing;
  margin-bottom: $block-spacing;

  .infos {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $size-7;

    .ligne {
      font-size: $size-5;
      margin-right: 2em;

      span.nom {
        line-height:2.5em;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        margin-right:1em;
      }
      span.valeur {
        display: inline-block;
        border-radius: $tag-radius;
        background-color: $purple-light;
        padding: 1em;
        padding-bottom: calc(0.5em - 1px);
        padding-top: calc(0.5em - 1px);
        height: 2.5em;
        margin-right:0.3em;
      }
      span.taxe {
        display: inline-block;
        font-size:$size-7;
      }
    }
  }

  .actions {
    display: inline-block;

    a {
      display: block;
    }
  }
}
.block:not(:last-child) {
  margin-bottom: $block-spacing;
}
.citation {
  border: 2px $grey-lighter solid;
  background:$white-ter;
  font-style: italic;
  padding: $block-spacing;
  border-radius: $tag-radius;
  color: $grey;
  margin-bottom: $block-spacing;
  
  strong {
    color: $grey-darker;
  }
}
.confinement {
  color: #515151;
  padding: 0rem $block-spacing 0rem $block-spacing;
}
.confinement .container {
  border: 2px #DBFED2 solid;
  border-radius: $radius-large;
  padding: $block-spacing;
}
.confinement strong {
  border-radius: $radius-large;
  background-color: #DBFED2;
  align-items: center;
  color: #277215;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  font-weight: normal;
}
[data-tooltip]:not(.is-disabled).has-tooltip-primary:before,
[data-tooltip]:not(.is-loading).has-tooltip-primary:before,
[data-tooltip]:not([disabled]).has-tooltip-primary:before,
[data-tooltip]:not(.is-disabled).has-tooltip-primary.has-tooltip-right:after,
[data-tooltip]:not(.is-loading).has-tooltip-primary.has-tooltip-right:after,
[data-tooltip]:not([disabled]).has-tooltip-primary.has-tooltip-right:after {
  background-color: $grey-light;
  color: $purple-heavy;
}
span[data-tooltip].has-tooltip-primary {
  border-bottom-color: $purple;
}
[data-tooltip]:not(.is-disabled).has-tooltip-primary:after,
[data-tooltip]:not(.is-loading).has-tooltip-primary:after,
[data-tooltip]:not([disabled]).has-tooltip-primary:after {
  border-color: $grey-light transparent transparent !important;
}
.light-red-bg {
  background-color: #ffd6d4;
  color: #804d4b;
  padding: $block-spacing;
  border-radius: $tag-radius;
  letter-spacing: 0;
}
.light-red-bg .title,
.article .content .light-red-bg h3 {
  color: #804d4b;
}
.light-green-bg {
  background-color: #b4ffc8;
  color: #335b3e;
  padding: $block-spacing;
  border-radius: $tag-radius;
  letter-spacing: 0;
}
.light-green-bg .title,
.article .content .light-green-bg h3 {
  color: #335b3e;
}
.light-grey-bg {
  text-align: center;
  background-color: $grey-light;
  color: $purple-heavy;
  padding: $block-spacing;
  border-radius: $tag-radius;
  letter-spacing: 0;

  .title {
    font-family: 'Futura LT W05 Book', sans-serif;
    font-size: $size-4;
    text-transform: uppercase;

  }
}
.white-bg {
  background-color: #FFFFFF;
  padding: .75rem;
  border-radius: $tag-radius;
  color: $purple;
}

.light-bg {
  background-color: $purple-light;
  color: $purple-heavy;
}
.light-bg .title,
.light-bg .subtitle,
.content .light-bg h2,
.content .light-bg h3 {
  color: $purple-heavy;
}
.content .light-bg {
  color: $purple-heavy;
  padding: $block-spacing;
  border-radius: $tag-radius;
}
.blog .content {
  figure {
      margin-left: 0;
      margin-right: 0;
      text-align: left;
      
      figcaption {
        text-align: center;
      }
  }
  .liens-partager {
    margin-bottom: $block-spacing;
  }
  .light-bg,
  .light-green-bg,
  .light-red-bg {
    margin-bottom: $block-spacing;

    h3 {
      text-align: center;
    }
    h3:not(:first-child) {
      margin-top: 0.3333em;
    }
  }
  h3 {
    font-size: 1.7rem; //$size-4;
    font-weight: 700;
    font-family: $family-serif;
    text-transform: none;
  }
  h4 {
    font-size: 1.3rem; //$size-6;
    color: $purple-heavy;
  }
  h4:not(:first-child) {
    margin-top: 1.3333em;
  }
  .highlight {
    margin-bottom: $block-spacing;
    
    h4 {
      color:#ffffff;
    }
  }
  
  .fiche-methodologique {
    margin-bottom: $block-spacing;
    border: 2px $purple-heavy-border solid;
    background-color: $purple-heavy;
    color:#ffffff;
    padding: $block-spacing;
    border-radius: $tag-radius;
    
    .tabs.is-toggle.is-toggle-rounded {
      a {
        text-decoration: none;
        border: 0;
        color: $purple-heavy;
        background: #ffffff;
      }
      a.is-active {
        color:#ffffff;
        border: 0;
        background-color: rgba(0, 0, 0, 0.27);
      }
      a:hover {
        color:#ffffff;
        background: $purple-heavy;
      }
    }
    .content-wrap {
      // margin-left: $block-spacing;
      padding: $block-spacing;
      padding-top: $size-3;
      color: $purple;
      background: #FFFFFF;
      border-radius: $tag-radius;
      display: block;
      width: 100%;
      // display: flex;
      // flex-grow: 1;
    
      .tab-content {
        display: none;
    
        &.is-active {
          display: block;
          width: 100%;
        }
    
        .title {
          color: $purple;
          text-align: center;
          font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
          font-weight: 600;
          font-size: $size-6;
        }
    
      }
    }
  }
  
  table.is-purple-bordered {
    thead td, th {
      color:#ffffff;
      background: $purple-heavy;
    }
    td, th {
      border-color: $purple-heavy-border;
      border-width: 2px;
    }
  }
  .illustration {
    text-align: center;
    padding-top: 1em;

      i.icon {
      font-size: 4rem;
    }
  }
  h3.sub-section-title {
    font-family: $family-sans-serif;
  }
  .blog-row-container {
    position: relative;
    
    h2 {
      font-size: $size-3;
    }
    .column.is-4 {
      padding-right: 0;
    }
    .column.is-8 {
      padding-left: 0;
    }
    .light-grey-bg {
      border-radius: 0;
      border-top-right-radius: $radius-large;
      border-bottom-right-radius: $radius-large;
    }
    .illustration {
      height: 100%;
      padding: 0;
    
      a {
        position: absolute;
        left:0.75rem;
        right:0.75rem;
        top:0.75rem;
        bottom: 0.75rem;
   
        span.banner-image-container {
          height: 100%;
          display: block;
          width:33%;
    
          img.banner {
            width:100%;
            height:100%;
            object-fit: cover;
            border-top-left-radius: $radius-large;
            border-bottom-left-radius: $radius-large;
          }
        }
      }
      a:hover:not(.button):not(.tag) {
        background: transparent;
    
      }
    }
  }
  .blog-card-container {
    position: relative;
    
    h2 {
      font-size: $size-3;
    }
    
    .button.is-purple-bordered {
      white-space: normal;
      height: auto;
    }
    
    .illustration {
      text-align: center;

      a {
        position: absolute;
        left:0.75rem;
        right:0.75rem;
        top:0.75rem;
        bottom: 0.75rem;

        span.banner-image-container {
          height: 10em;
          display: block;
          width:100%;

          img.banner {
            width:100%;
            height:100%;
            object-fit: cover;
            border-top-left-radius: $radius-large;
            border-top-right-radius: $radius-large;
          }
        }
      }
      a:hover:not(.button):not(.tag) {
        background: transparent;

      }
    }

    .light-grey-bg {
      padding-top: 11em;
      border-radius: 0;
      border-bottom-left-radius: $radius-large;
      border-bottom-right-radius: $radius-large;
    }
  }
  .summary-container.columns {
    margin-left: 0;
    margin-right: 0;

    .column {
      padding: 0;
    }

    span.banner-image-container {
      line-height: 0;
      display: block;
      height: 100%;
      width:100%;

      img.banner {
        width:100%;
        height:100%;
        object-fit: cover;
        border-top-left-radius: $radius-large;
        border-bottom-left-radius: $radius-large;
      }
    }
    .purple-border {
      padding: $block-spacing;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
// END - .blog .content

.blog .temoignages {
  padding-top: $block-spacing;
  
  h3 {
    margin-bottom: $block-spacing;
  }
  .temoignage {
    
    .metadata-container {
      padding: .75rem;
      
      small {
        color: $purple;
        font-size:$size-7;
      }
    }
    
    .texte {
      font-family: "Abril Display W05 Italic",serif;
      font-weight: 300;
    }
  }
  
  .light-bg {
    color: $purple-heavy;
    padding: $block-spacing;
    border-radius: $tag-radius;
  
    h3 {
      font-size: 1.7rem; //$size-4;
      font-weight: 700;
      font-family: $family-serif;
      text-transform: none;
      text-align: center;
    }
    h3:not(:first-child) {
      margin-top: 0.3333em;
    }
  }
  .illustration {
    text-align: center;
    padding-top: 1em;
  
      i.icon {
      font-size: 4rem;
    }
  }
}

p.with-text-icon i.icon {
  vertical-align: bottom;
}

.purple-border {
  border: 2px $purple-light-border solid;
  padding: $block-spacing;
  border-radius: $tag-radius;
}
.heavy-purple-border {
  border: 2px $purple-heavy-border solid;
  padding: $block-spacing;
  border-radius: $tag-radius;
}
.is-styled-tag {
  display: inline-block;
  border-radius: $tag-radius;
  background-color: $purple-light;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5em;
}
.tile.is-ancestor .tile:first-of-type {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tile.is-ancestor .tile:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
i.big-icon {
  font-size:10rem;
}
h1 {
  margin-bottom:2em;
}
hr {
    margin:0;
    display:block;
    border:0px;
    height:calc(62px + 4rem);
    border-top: 2rem transparent solid;
    border-bottom: 2rem transparent solid;
    background-color: transparent;
    background-image:url('/images/hr.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
hr.light-bg {
  background-color: $purple-light;
  border-bottom: 3rem $purple-light solid;
  background-image:url('/images/hr-heavy.png');
}
footer.footer {
  padding-bottom: 6rem;
}

.element-invisible {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
//********************************************/
//***************** Buttons *****************/
//********************************************/
.button {
  border-radius: $radius-large;
}
a.button.is-primary {
  margin-bottom:0.5em;
  background: $purple;
  transition: background-color 0.3s ease;
}
#main-navbar .navbar-start > .navbar-item.button.is-primary {
  color:#ffffff;
}
a.button.is-primary:hover {
  background: $purple-heavy;
}
a.button.is-white {
  color:$purple-heavy;
  transition: background-color 0.3s ease;
}
a.button.is-white:hover,
button.button.is-white:hover {
  background: $purple-light;
  color:$purple-heavy;
}
a.button.is-purple-bordered,
button.button.is-purple-bordered,
input.is-purple-bordered,
a.button.is-purple-bordered:hover ,
button.button.is-purple-bordered:hover ,
input.is-purple-bordered:hover  {
  color:$purple-heavy;
  border: 2px $purple-light-border solid;
  box-shadow: none;
}
.field.has-addons .control:last-child:not(:only-child) .button.is-purple-bordered {
  // border-left:2px;
}
.liens-partager .button.is-static {
  background-color: transparent;
  border: 0;
  color: $purple;
  padding-left:0;
}

//********************************************/
//***************** Navigation *****************/
//********************************************/
.section.header {
  padding:0;
}
#main-navbar {
  min-height: 0;
}
@media screen and (min-width: 1024px) {
    #main-navbar.navbar {
      flex-direction: column;
    }
}
#main-navbar.is-fixed-top {
  box-shadow: 0 2px 23px 0 $purple-light;
  transition: box-shadow 0.3s ease-in-out;
}
#main-navbar.is-fixed-top .navbar-brand .master-logo {
  display: none;
}
#main-navbar .navbar-brand {
  min-height: 0;
  display: block;
}
#main-navbar .navbar-brand a {
  display: inline-block;
}
#main-navbar .navbar-brand a.master-logo {
  padding-top:$block-spacing;
}
#main-navbar .navbar-brand .nav-buttons {
  display: block;
}
#main-navbar .navbar-brand a.button {
  margin:0;
}
#main-navbar .navbar-menu {
  padding:0;
}
#main-navbar .navbar-start {
  padding:1rem 0;
  display: block;
  width: 100%;
}
#main-navbar .navbar-start a.button {
  margin:0;
}
#main-navbar .navbar-start>.navbar-item,
#main-navbar .navbar-start .navbar-link {
  display: inline-block;
  border-radius: $tag-radius;
  color: $purple-heavy;

}
#main-navbar .navbar-start>.navbar-item.is-active {
  border-radius: $tag-radius;
  background-color: $purple-light;
  color: $purple-heavy;
}

//********************************************/
//***************** Modules bandeaux *****************/
//********************************************/
section .main {
  padding: 1rem;
}

section.accroche {
  .title {
    padding: 1rem 8rem;
  }
}

section.highlight,
section.article div.highlight {
  background-image: linear-gradient(135deg, $purple, $purple-heavy);
  color:#ffffff;
}
section.highlight i.icon,
section.article div.highlight i.big-icon,
section.highlight strong,
section.article div.highlight strong {
  color:#ffffff;
}

section.hypnotherapie {
  .is-2 {
    color: #FFFFFF;
  }
  .columns {
    margin: 2.25rem;
  }
  a.bt-highlight {
    background-color: rgba(0, 0, 0, 0.12);
    color:#FFFFFF;
    border-radius: $tag-radius;
    padding: 1rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: background-color 0.3s ease;

    i.big-icon{
      font-size:4rem;
      margin-bottom: 2rem;
    }

    span {
      font-size: $size-5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    strong {
      font-size: $size-3;
    }
  }
  a.bt-highlight:hover {
    background-color: rgba(0, 0, 0, 0.30);
  }
}


section.article div.highlight {
  border-radius: $tag-radius;
  padding: $block-spacing;

  .title,
  .subtitle {
    color: #ffffff;
    text-align: center;
  }

  .title {
    font-family: 'Futura LT W05 Book', sans-serif;
    font-size: $size-3;
    text-transform: uppercase;
    margin-top: $block-spacing;
    margin-bottom: 1em;
  }
  .subtitle {
    font-family: "Abril Display W05 Italic",serif;
    font-weight: 300;
    font-size: $size-4;
  }

  .tabs-wrapper {

  }

  .tabs {
    display: block;
    width: 100%;
    margin-right: $size-7;

    ul {
      margin:0;
      padding:0.5rem;
      display: block;
      border-radius: $tag-radius;
      background-color: rgba(0, 0, 0, 0.12);
      text-align: left;
      border-bottom-color: transparent !important;

      li {
        display: block;

        a:not(.button):not(.tag) {
          border: none;
          margin:0 0 2px 0;
          color:#ffffff;
          display: block;
          position: relative;
          text-decoration: none;
          background: transparent;
          padding: 0.5em 2rem 0.5em 0.5em;
        }
        a.is-active:not(.button):not(.tag),
        a:hover:not(.button):not(.tag) {
          text-decoration: none;
          border-radius: $tag-radius;
          background-color: rgba(0, 0, 0, 0.27);
        }

        a:before{
          content:'\0042';
          position: absolute;
          right: 0.5rem;
          font-size: $size-7;
          padding-top:0.4rem;
          font-family: 'luminose';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
    ul:not(:last-child) {
      margin-bottom:$block-spacing;
    }
  }
  .content-wrap {
    // margin-left: $block-spacing;
    padding: $block-spacing;
    padding-top: $size-3;
    color: $purple;
    background: #FFFFFF;
    border-radius: $tag-radius;
    display: block;
    width: 100%;
    // display: flex;
    // flex-grow: 1;

    .tab-content {
      display: none;

      &.is-active {
        display: block;
        width: 100%;
      }

      .title {
        color: $purple;
        text-align: center;
        font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
        font-weight: 600;
        font-size: $size-6;
      }
      
      .subtitle {
        margin-top:6rem;
        color: $purple;
        // text-align: left;
        font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
        font-weight: 600;
        font-size: $size-6;
        text-transform: uppercase;
        text-align: left;
        margin-left: 1.2em;
        margin-bottom: 0;
      }
      
      a:hover {
        background-color:$purple-light;
      }

      .illustration {
        text-align: center;

        i.icon {
          font-size: 4rem;
        }
      }
    }
  }
}


section.oracle {
  color: $purple-heavy;

  background-attachment: fixed;
  background-image: url("/images/interface/pattern-oracle.jpg");
  background-image:
    -webkit-image-set(
      url("/images/interface/pattern-oracle.jpg") 1x,
      url("/images/interface/pattern-oracle@2x.jpg") 2x,
    );
  background-image:
    image-set(
    url("/images/interface/pattern-oracle.jpg") 1x,
    url("/images/interface/pattern-oracle@2x.jpg") 2x,
    );
  .title,
  .subtitle {
    color: $purple-heavy;
  }
}
.column section.oracle {
  color: $purple-heavy;

  border-radius: $tag-radius;
  margin-bottom: $block-spacing;
  padding: 0;

  .title,
  .subtitle {
    color: $purple-heavy;
  }

  img {
    border-top-left-radius: $tag-radius;
    border-top-right-radius: $tag-radius;
  }

  .container {
    padding: 1rem;
  }
}



section.florent {
  background: $purple-light;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, rgba(255,255,255,0.7) 0%, rgba(249,245,255,0.7) 100%);
  background-image: url("/images/interface/pattern-seigaiha-light.jpg");
  background-image: linear-gradient(135deg, rgba(255,255,255,0.7) 0%, rgba(249,245,255,0.7) 100%), url("/images/interface/pattern-seigaiha-light.jpg");
  background-image:
    -webkit-image-set(
      linear-gradient(135deg, rgba(255,255,255,0.7) 0%, rgba(249,245,255,0.7) 100%),
      url("/images/interface/pattern-seigaiha-light.jpg") 1x,
      url("/images/interface/pattern-seigaiha-light@2x.jpg") 2x,
    );
  background-image:
    image-set(
      linear-gradient(135deg, rgba(255,255,255,0.7) 0%, rgba(249,245,255,0.7) 100%),
      url("/images/interface/pattern-seigaiha-light.jpg") 1x,
      url("/images/interface/pattern-seigaiha-light@2x.jpg") 2x,
    );
}
.column section.florent {
  border-radius: $tag-radius;
  margin-bottom: $block-spacing;
  padding: 1rem;
  .button.is-primary {
    margin-bottom: $block-spacing;
  }
  .nom {
    display: block;
    text-transform: uppercase;
  }
  .adresse {
    display: block;
  }
  .valeur {
    margin-left: auto;
    margin-right: auto;
  }
}

section.florent .container{
  border:2px $purple-light-border solid;
  border-radius: $tag-radius;
  background-color: $white;
}
section.florent .button.is-primary {
  margin-bottom: 0;
}
section.florent .content .ligne span {
  display: inline-block;
}
section.florent .content .ligne span.nom {
  width: 4rem;
  vertical-align: top;
  text-transform: uppercase;
}
section.florent h2.title.is-2.person {
  font-family: $family-sans-serif;
  color: $purple;
}
section.florent h3.subtitle.is-3.job {
  font-family: $family-serif;
  color: $purple;
  text-transform: none;
}

.infos-seance .ligne span.nom {
  display: inline-block;
  width: 11rem;
  vertical-align: middle;
}

section.newsletter {
  input.input.is-purple-bordered {
    border-right:0;
  }
  i.icon {
    padding-left: 6rem;
  }
}

//********************************************/
//***************** Confirmation achat *****************/
//********************************************/
.confirmation-achat {
  
  margin-top:$block-spacing;
  
  .content {
    h1 {
      font-family: $family-serif;
      font-weight: normal;
      font-size: $size-3;
    }
    .columns.light-bg {
      padding: 0.75rem;
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      .column {
        font-size: $size-7;
      }
    }
    .columns.is-gapless:not(:last-child),
    .columns.is-gapless:last-child  {
      margin: 0;
      padding-top:0.3rem;
      padding-bottom:0.3rem;
    }
  }
  
  .purple-border {
    padding:0;
  }
  .block {
    padding:$block-spacing;
  }
  .illustration {
    text-align: center;
    padding-top: 3em;
  
      i.icon {
        font-size: 6rem;
      }
      i.icon.icon-confirmation {
        color:#39B66B;
      }
  }
}


//********************************************/
//***************** Paiement *****************/
//********************************************/
.paiement .box.main {
  padding: 5em;
}
.paiement .box.main .control.amount-input {
  width: 120px;
  display: inline-block;
}
.paiement .box.main .control.submit {
  display: inline-block;
}
.paiement .box.main .control.amount-input input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.paiement .box.main .control.submit button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.delete {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, .2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width:20px
}

.delete::after, .delete::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin:center center
}

.delete::before {
    height: 2px;
    width:50%
}

.delete::after {
    height: 50%;
    width:2px
}

.delete:focus, .delete:hover {
    background-color:rgba(10, 10, 10, .3)
}

.delete:active {
    background-color:rgba(10, 10, 10, .4)
}

//********************************************/
//************** Modal *****************/
//********************************************/

#md-prise-rdv {
  .box {
    a.button.is-purple-bordered {
      border-radius: 0;
      border-bottom:0;
    }
    a.button.is-purple-bordered:first-of-type {
      border-top-left-radius: $radius-large;
      border-top-right-radius: $radius-large;
    }
    a.button.is-purple-bordered:last-of-type {
      border-bottom: 2px $purple-light-border solid;
      border-bottom-left-radius: $radius-large;
      border-bottom-right-radius: $radius-large;
    }
    
    a.button.is-purple-bordered,
    div.fake-button {
      white-space: normal;
      height: auto;
      display: block;
      transition: background-color .3s ease;
      padding: 1.5rem;
      
      .title {
        font-family: 'Futura LT W05 Book', sans-serif;
        text-transform: none;
        font-size: $size-6;
        color: $purple-heavy;
        margin-top: 0;
        margin-bottom: 0.75rem;
      }
      .description {
        font-size: $size-7;
        color: $purple;
      }
      
      span {
        display: block;
      }
    }
    .button.is-purple-bordered:hover {
      background: $purple-light;
    }
  } 
}


//********************************************/
//************** Calendly *****************/
//********************************************/
.calendly-overlay .calendly-popup {
  max-height: 750px;
}

//********************************************/
//************** Respiration *****************/
//********************************************/

//
// html{
//   height: 100vh;
//   width: 100vw;
//
// }

body.outil-respiration {
  height: 100vh;
  width: 100vw;
  background-color: #f9f5ff;
}

body.outil-respiration * {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes loader {
  0%{
    background: $purple-heavy;
    height:100%;
  }50%{
    background: $purple;
    height:0%;
  }100%{
    background: $purple-heavy;
    height:100%;
  }
}
@keyframes loader {
  0%{
    background: $purple-heavy;
    height:100%;
  }50%{
    background: $purple;
    height:0%;
  }100%{
    background: $purple-heavy;
    height:100%;
  }
}
@-webkit-keyframes trackprogress {
  0%{
    background: $purple;
    width:0%;
  }100%{
    background: $purple;
    width:100%;
  }
}
@keyframes trackprogress {
  0%{
    background: $purple;
    width:0%;
  }100%{
    background: $purple;
    width:100%;
  }
}

body.outil-respiration .loader{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

body.outil-respiration .loader__bar{
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
}

body.outil-respiration .loader__bar:before{
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: $purple-heavy;
  background-size: 200% 200%;
  content: "";
  height:0%;
  width: 100%;
}
body.outil-respiration .loader__bar.speed3sec:before{
  -webkit-animation-duration : 6s;
          animation-duration : 6s;
}
body.outil-respiration .loader__bar.speed4sec:before{
  -webkit-animation-duration : 8s;
          animation-duration : 8s;
}
body.outil-respiration .loader__bar.speed5sec:before{
  -webkit-animation-duration : 10s;
          animation-duration : 10s;
}
body.outil-respiration .loader__bar.speed6sec:before{
  -webkit-animation-duration : 12s;
          animation-duration : 12s;
}
body.outil-respiration .loader__bar.speed7sec:before{
  -webkit-animation-duration : 14s;
          animation-duration : 14s;
}
body.outil-respiration .loader__bar.paused:before{
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body.outil-respiration .playpause {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20em;
  width:5em;
  height:5em;
  text-align: center;
  background: transparent;
  border:3px $purple solid;
  transition: 500ms all ease;
}

body.outil-respiration .playpause.paused {
  background: #ffffff;
  border:3px $purple-heavy solid;
  transition: 500ms all ease;
}

body.outil-respiration .playpause span {
  font-size: 0.3em;
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 7.4em;
  transition: 500ms all ease;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-color: transparent transparent transparent $purple;
  border-style: double;
  border-width: 0 0 0 6em;
}

body.outil-respiration .playpause.paused span {
  transition: 500ms all ease;
  border-color: transparent transparent transparent $purple-heavy;
  border-style: solid;
  border-width: 3.7em 0 3.7em 6em;
}

body.outil-respiration .stop {
  transition: 500ms all ease;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-250%, -50%);
  border-radius: 20em;
  width:2.2em;
  height:2.2em;
  text-align: center;
  background: #ffffff;
  border:3px $purple-heavy solid;
}

body.outil-respiration .stop.running {
  background: transparent;
  transition: 500ms all ease;
  border:3px $purple solid;
}

body.outil-respiration .stop span {
  transition: 500ms all ease;
  display: block;
  box-sizing: border-box;
  width: 0.8em;
  height: 0.8em;
  background: $purple-heavy;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

body.outil-respiration .stop.running span {
  transition: 500ms all ease;
  background: $purple;
}

body.outil-respiration .configure {
  transition: 500ms all ease;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(150%, -50%);
  border-radius: 20em;
  width:2.2em;
  height:2.2em;
  text-align: center;
  background: #ffffff;
  border:3px $purple-heavy solid;
}
body.outil-respiration .configure span {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
body.outil-respiration .configure span:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
}

body.outil-respiration .configure span:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
}
body.outil-respiration .configure span,
body.outil-respiration .configure span:before,
body.outil-respiration .configure span:after {
  border-radius: 50%;
  border: solid 0.16em $purple-heavy;
  background: $purple-heavy;
}

body.outil-respiration .configure.running {
  background: transparent;
  transition: 500ms all ease;
  border:3px $purple solid;
}
body.outil-respiration .configure.running span,
body.outil-respiration .configure.running span:before,
body.outil-respiration .configure.running span:after {
  border: solid 0.16em $purple;
}
body.outil-respiration .configure.running.is-active {
  background: #fff;
}

body.outil-respiration .playpause:hover,
body.outil-respiration .playpause.paused:hover,
body.outil-respiration .stop:hover,
body.outil-respiration .configure:hover {
  border:3px #ffffff solid;
  transition: 500ms all ease;
}

body.outil-respiration .track-progress {
  display: block;
  position: absolute;
  top: 56.5%; left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  border-radius: $radius-large;
  // height:0.1em;
  width:220px;
  box-shadow: 0 .7em 2em 0 rgba(96,64,127,.16);
  color: #6163a5;
  height:.3rem;
  // padding: .1rem;
}
body.outil-respiration .track-progress div.completed {
  display: block;
  height:.3rem;
  border-radius: $radius-large;
  width:0%;
  -webkit-animation-iteration-count : 1;
          animation-iteration-count : 1;
  -webkit-animation-name: trackprogress;
          animation-name: trackprogress;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
body.outil-respiration .track-progress div.completed.length5min {
  -webkit-animation-duration : 300s; // defaut pour 5 min
          animation-duration : 300s;
  // -webkit-animation-duration : 37s; // debug
  //         animation-duration : 37s;
}
body.outil-respiration .track-progress div.completed.length10min {
  -webkit-animation-duration : 600s;
          animation-duration : 600s;
}
body.outil-respiration .track-progress div.completed.lengthinfinite {
  -webkit-animation-duration : infinite;
          animation-duration : infinite;
}
body.outil-respiration .track-progress div.completed.running {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

body.outil-respiration .panel-config {
  display: none;

  position: absolute;
  top: 60%; left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  border-radius: $radius-large;
  box-shadow: 0 .7em 2em 0 rgba(96,64,127,.16);
  color: #6163a5;
  padding: 1.25rem;
}
body.outil-respiration .panel-config.is-active {
  display: block;
}
body.outil-respiration .panel-config .setting {
  padding-bottom: 1.5em;
}
body.outil-respiration .panel-config .setting:last-of-type {
  padding-bottom: 0;
}
body.outil-respiration .panel-config .setting .values span {
  transition: 500ms all ease;
  cursor: pointer;
  align-items: center;
  background-color: #f9f5ff;
  border-radius: $radius-large;
  color: #6163a5;
  display: inline-flex;
  font-size: 1em;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}
body.outil-respiration .panel-config .setting .values span.is-active {
  background: $purple-heavy;
  color: #ffffff;
}
body.outil-respiration .panel-config .setting .values span.is-waiting {
  background: $purple;
  animation: blinkingBackground 2s infinite;
  color: #ffffff;
}
@keyframes blinkingBackground{
	0%		{ background-color: $purple;}
	25%		{ background-color: $purple-light;}
	50%		{ background-color: $purple;}
	75%		{ background-color: $purple-light;}
	100%	{ background-color: $purple;}
}


//************** Petits écrans et téléphones mobiles *****************/
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  hr {
    background-image:url('/images/hr@2x.png');
  }
  hr.light-bg {
    background-image:url('/images/hr-heavy@2x.png');
  }
}

@media only screen and (max-width: 768px) {
  .main .column.picture {
    text-align: center;
  }
  .paiement .box.main {
    padding: 1.25rem;
  }

  body.outil-respiration {
    height: calc(var(--vh, 1vh) * 100);
  }
  body.outil-respiration,
  body.outil-respiration * {
    font-size:14px;
  }
  body.outil-respiration .panel-config {
    width: 90%;
  }
  body.outil-respiration .track-progress {
    width: 90%;
  }
}
@media only screen and (max-height: 736px) {
  body.outil-respiration,
  body.outil-respiration * {
    font-size:14px;
  }
  body.outil-respiration .playpause {
    top: 90%;
  }
  body.outil-respiration .stop {
    top: 90%;
  }
  body.outil-respiration .configure {
    top: 90%;
  }
  body.outil-respiration .track-progress {
    top: 10%;
  }
  body.outil-respiration .panel-config {
    top: 35%;
  }
}
@include fullhd {
  // Styles applied
  // above $fullhd
  html {
    font-size: 19px;
  }
}
@include widescreen-only {
  // Styles applied
  // between $widescreen
  // and $fullhd
  html {
    font-size: 17px;
  }
}
@include desktop-only {
  // Styles applied
  // between $desktop
  // and $widescreen
  html {
    font-size: 16px;
  }
  section.article div.highlight .tile.is-half-desktop {
    width:50%;
  }
}
@include tablet-only {
  html {
    font-size: 16px;
  }
  .navbar-menu {
    display: block;
    box-shadow: none;
  }
  .section {
    padding-top:1.5rem;
    padding-bottom:1.5rem;
  }
  body .section.article,
  body .section.article:first-of-type {
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  section .main {
    padding: 0.75rem;
  }
  section.accroche .title {
    padding: 1rem 1.5rem;
  }
}
@include mobile {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .button {
    white-space: normal;
    height: auto;
  }
  .button.is-medium {
    font-size: $size-6;
  }
  i.big-icon {
    font-size:5rem;
    width:5rem;
    height:5rem;
  }
  html {
    font-size: 16px;
  }
  .section {
    padding-top:1.5rem;
    padding-bottom:1.5rem;
  }
  body .section.article,
  body .section.article:first-of-type {
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  section .main {
    padding: 0.75rem;
  }
  section.newsletter {
    .main {
      padding: 0rem;

      .has-text-right {
        text-align: left !important;
      }
      .columns:not(.has-text-right) {
        text-align: center;
      }
      i.icon {
        display: inline-block;
        padding:0;
      }
      form .field.has-addons {
        display: block;

        .control {
          display: block;
          width:100%;
          input.input.is-purple-bordered {
            border-radius: $tag-radius;
            margin-bottom: $size-7;
            border: 2px $purple-light-border solid;
          }

          button.button {
            border-radius: $tag-radius;
            margin-bottom: $size-7;
          }
        }
      }
    }
  }
  .article .content h1 {
    font-size: $size-3;
  }
  .title.is-2,
  .article .content h2 {
    font-size: $size-4;
    font-weight: 300;
    line-height: 1.125;
  }
  .blog .content h3 {
    font-size: $size-5;
  }

  section.accroche {
    padding-top:0.5rem;
    .title {
      font-size: $size-4;
      padding: 0;
      font-family: 'Futura LT W05 Book', sans-serif;
      font-weight: 300;
    }
  }

  section.hypnotherapie.highlight {
    .has-text-centered {
      text-align: left;

      .columns {
        margin: 0;
        margin-bottom: calc(1.5rem - .75rem);
        text-align: left;

        .column {
          text-align: left;
          padding: 0.25rem 0;
        }
      }
    }
    a.bt-highlight {
      display: flex;
      flex-direction: row;
      text-align: left;
      padding: 0.25rem;
      height: 5rem;
      line-height: 1.5rem;

      i.big-icon{
        font-size:2.5rem;
        width:20%;
        padding-left: 0.5rem;
        height:7rem;
        margin-bottom: 0;
        display: inline-flex;
      }

      span {
        padding-left:$size-7;
        width:80%;
        font-size: $size-6;
        display: inline-flex;
        align-items: start;
      }

      strong {
        font-size: $size-4;
      }
    }
  }

  section.article div.highlight {
    .title {
      font-size: $size-4;
    }
    .subtitle {
      font-size: $size-5;
    }
    .tabs ul li {
      a, a:hover, a.is-active, a.is-active:hover {
        text-decoration: underline;
      }
      a.is-active {
        background-color: transparent;
      }
      a.is-active:hover {
        background-color: rgba(0,0,0,0.27);
      }
      a:before {
        content: '';
      }
    }
    .content-wrap {
      position: relative;
      padding: $size-3 $size-7 4rem $size-7;

      #mobile-tabs-toggle {
        position: absolute;
        bottom:$size-7;
        left:$size-7;
        right:$size-7;
      }
    }
  }

  section.florent {
    .content .ligne.adresse span.valeur {
      display: block;
      margin: 0;
    }
  }

  .blog .content .summary-container.columns {
    .purple-border {
      border: 2px #E8DEF6 solid;
      border-top: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: $radius-large;
    }
    span.banner-image-container {
      height:10em;

      img.banner {
        border-top-right-radius: $radius-large;
        border-bottom-left-radius: 0;
      }
    }
  }
  
  .blog .content .blog-row-container {
    .column.is-4 {
      padding-right: .75rem;
    }
    .column.is-8 {
      padding-left: .75rem;
    }

    .illustration a {
      span.banner-image-container {
        width:100%;
        height:10em;
      
        img.banner {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-right-radius: $radius-large;
          border-bottom-left-radius: 0;
        }
      }
    }
    
    .light-grey-bg {
      padding-top: 10em;
    }
  }


  #main-navbar .navbar-brand {
    // padding: 1rem;
  }
  #main-navbar #mobile-navigation {
    padding: 1rem;
  }
  body.menu-active {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
  }
  body.menu-active #main-navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  #main-navbar .navbar-start {
    padding:1.5rem;
  }
  #main-navbar .navbar-menu.is-active {
    background-color: $purple-light;
    padding-top:5rem;
    max-height: none;
    position: absolute;
    // bottom:0;
    left:0;
    right:0;
    height: 100%;
  }

  #main-navbar .navbar-brand a#bt-navigation.is-active,
  #main-navbar .navbar-start>.navbar-item.is-active {
    background-color: #FFFFFF;
    color: $purple-heavy;
  }

  #main-navbar .navbar-menu.is-active .navbar-start>a {
    display: block;
    text-align: left;
  }
}
