@charset "utf-8";

/* This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com */
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=7d5eecea-6a78-405f-9101-8527f4dd7b18&fontids=5313918");
@font-face{
    font-family:"Abril Display W05 Italic";
    src:url("/fonts/5197317/0a5d5485-b415-4692-bc4d-bf1f30dcf946.eot?#iefix");
    src:url("/fonts/5197317/0a5d5485-b415-4692-bc4d-bf1f30dcf946.eot?#iefix") format("eot"),
        url("/fonts/5197317/e95ab4d7-0b64-43c7-88ec-c70de2273848.woff2") format("woff2"),
        url("/fonts/5197317/65d70e48-ef4e-48c6-90b9-3cb9f247dcfd.woff") format("woff"),
        url("/fonts/5197317/6be7e520-0945-476a-8ac2-10c029effcfe.ttf") format("truetype");
}
@font-face{
    font-family:"Futura LT W05 Book";
    src:url("/fonts/5313918/a411c21e-f439-48c1-bddb-887ec08b5224.eot?#iefix");
    src:url("/fonts/5313918/a411c21e-f439-48c1-bddb-887ec08b5224.eot?#iefix") format("eot"),
        url("/fonts/5313918/7a337894-f253-4a5d-a63e-0d8275cedec5.woff2") format("woff2"),
        url("/fonts/5313918/55e6a203-1f50-4971-89d0-17ca0150f29d.woff") format("woff"),
        url("/fonts/5313918/feaf9b77-0958-45fa-96c3-1afc445987ef.ttf") format("truetype");
}
@font-face{
    font-family:"Futura LT W05 Medium";
    src:url("/fonts/ext/ext2.eot?#iefix");
    src:url("/fonts/ext/ext2.eot?#iefix") format("eot"),
        url("/fonts/ext/ext2.woff2") format("woff2"),
        url("/fonts/ext/ext2.woff") format("woff"),
        url("/fonts/ext/ext2.ttf") format("truetype");
}

// Respiration animation
$default-animation-speed: 10s;
$default-animation-loop: 30; // 30 X 10s = 5 min (par défaut)

// Set your brand colors
$purple: #6163A5;
$purple-heavy: #60407F;
$purple-light: #F9F5FF;

$family-sans-serif: 'Futura LT W05 Book', sans-serif;
$family-serif: 'Abril Display W05 Italic', serif;

$family-secondary: $family-serif ;
$text	: $purple;
$text-strong: $purple-heavy;
$title-family: $family-secondary;
$title-color: $purple;
$body-size: 16px;
$grey-light: $purple-light;
$primary: $purple;
$link: $purple-heavy;
$title-weight: 300;
$subtitle-weight: 300;

$radius-large : 8px;
$box-shadow: 0 0.7em 2em 0 rgba($purple-heavy, 0.16);

$tag-radius : 8px;
$tag-background-color: $purple-light;

$footer-background-color: $purple-heavy;
$footer-color: #FFFFFF;
$footer-padding: 1.5rem;

$gear_icon_size: 1em;

//@import "../_modules/bulma-0.9.1/bulma.sass";

// Import only what you need from Bulma
@import "../_modules/bulma-0.9.1/sass/utilities/_all.sass";
@import "../_modules/bulma-0.9.1/sass/base/_all.sass";
@import "../_modules/bulma-0.9.1/sass/helpers/_all.sass";
@import "../_modules/bulma-0.9.1/sass/elements/button.sass";
@import "../_modules/bulma-0.9.1/sass/elements/container.sass";
@import "../_modules/bulma-0.9.1/sass/elements/content.sass";
@import "../_modules/bulma-0.9.1/sass/elements/icon.sass";
@import "../_modules/bulma-0.9.1/sass/elements/notification.sass";
@import "../_modules/bulma-0.9.1/sass/elements/title.sass";
@import "../_modules/bulma-0.9.1/sass/elements/box.sass";
@import "../_modules/bulma-0.9.1/sass/elements/tag.sass";
@import "../_modules/bulma-0.9.1/sass/components/modal.sass";
@import "../_modules/bulma-0.9.1/sass/form/shared.sass";
@import "../_modules/bulma-0.9.1/sass/form/input-textarea.sass";
@import "../_modules/bulma-0.9.1/sass/form/tools.sass";
@import "../_modules/bulma-0.9.1/sass/grid/columns.sass";
@import "../_modules/bulma-0.9.1/sass/layout/footer.sass";
@import "../_modules/bulma-0.9.1/sass/layout/section.sass";

body,
body * {
  letter-spacing: 0.02em;
}
strong {
  font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
}
.title.is-2 {
  font-size: 1.8em;
}
.subtitle.is-3 {
  text-transform: uppercase;
  font-size: 1.2em;
}
.container {
  max-width: 720px;
}
.confinement {
  color: #515151;
  padding: 0rem 1.5rem 0rem 1.5rem;
}
.confinement .container {
  border: 2px #DBFED2 solid;
  border-radius: 8px;
  padding: 1.5em;
}
.confinement strong {
  border-radius: 8px;
  background-color: #DBFED2;
  align-items: center;
  color: #277215;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  font-weight: normal;
}
.light-bg {
  background-color: $purple-light;
  color: $purple-heavy;
}
.light-bg .title,
.light-bg .subtitle {
  color: $purple-heavy;
}

div.copyright {
  border-top: 10px $purple-light solid;
  padding: 1.5rem 1.5rem 3rem;
}
h1 {
  margin-bottom:2em;
}

.main .column.picture {
  text-align: right;
}
.main h2.title.is-2.person {
  font-family: $family-sans-serif;
  color: $purple;
}
.main h3.subtitle.is-3.job {
  font-family: $family-serif;
  color: $purple;
  text-transform: none;
}
.vsplitter.column {
  flex-grow:0;
  padding:0 0.36em;
  background: white;
  border-radius: 5em;
}
.main p.is-small {

}
.main a.button.is-primary {
  margin-bottom:1em;
  background: $purple;
  transition: 0.3s;
}
.main a.button.is-primary:hover {
  background: $purple-heavy;
}
section.seances h3.subtitle.is-3 {
  margin-top: 2em;
}

hr {
    margin:0;
    display:block;
    border:0px;
    height:calc(62px + 3rem);
    border-bottom: 3rem transparent solid;
    background-color: transparent;
    background-image:url('/images/hr.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
hr.light-bg {
  background-color: $purple-light;
  border-bottom: 3rem $purple-light solid;
  background-image:url('/images/hr-heavy.png');
}

//************** Paiement *****************/
.paiement .box.main {
  padding: 5em;
}
.paiement .box.main .control.amount-input {
  width: 120px;
  display: inline-block;
}
.paiement .box.main .control.submit {
  display: inline-block;
}
.paiement .box.main .control.amount-input input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.paiement .box.main .control.submit button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.delete {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, .2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width:20px
}

.delete::after, .delete::before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin:center center
}

.delete::before {
    height: 2px;
    width:50%
}

.delete::after {
    height: 50%;
    width:2px
}

.delete:focus, .delete:hover {
    background-color:rgba(10, 10, 10, .3)
}

.delete:active {
    background-color:rgba(10, 10, 10, .4)
}

//************** Respiration *****************/

//
// html{
//   height: 100vh;
//   width: 100vw;
//
// }

body.tools {
  height: 100vh;
  width: 100vw;
  background-color: #f9f5ff;
}

body.tools * {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes loader {
  0%{
    background: $purple-heavy;
    height:100%;
  }50%{
    background: $purple;
    height:0%;
  }100%{
    background: $purple-heavy;
    height:100%;
  }
}
@keyframes loader {
  0%{
    background: $purple-heavy;
    height:100%;
  }50%{
    background: $purple;
    height:0%;
  }100%{
    background: $purple-heavy;
    height:100%;
  }
}
@-webkit-keyframes trackprogress {
  0%{
    background: $purple;
    width:0%;
  }100%{
    background: $purple;
    width:100%;
  }
}
@keyframes trackprogress {
  0%{
    background: $purple;
    width:0%;
  }100%{
    background: $purple;
    width:100%;
  }
}

body.tools .loader{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

body.tools .loader__bar{
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
}

body.tools .loader__bar:before{
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: $purple-heavy;
  background-size: 200% 200%;
  content: "";
  height:0%;
  width: 100%;
}
body.tools .loader__bar.speed3sec:before{
  -webkit-animation-duration : 6s;
          animation-duration : 6s;
}
body.tools .loader__bar.speed4sec:before{
  -webkit-animation-duration : 8s;
          animation-duration : 8s;
}
body.tools .loader__bar.speed5sec:before{
  -webkit-animation-duration : 10s;
          animation-duration : 10s;
}
body.tools .loader__bar.speed6sec:before{
  -webkit-animation-duration : 12s;
          animation-duration : 12s;
}
body.tools .loader__bar.speed7sec:before{
  -webkit-animation-duration : 14s;
          animation-duration : 14s;
}
body.tools .loader__bar.paused:before{
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

body.tools .playpause {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20em;
  width:5em;
  height:5em;
  text-align: center;
  background: transparent;
  border:3px $purple solid;
  transition: 500ms all ease;
}

body.tools .playpause.paused {
  background: #ffffff;
  border:3px $purple-heavy solid;
  transition: 500ms all ease;
}

body.tools .playpause span {
  font-size: 0.3em;
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 7.4em;
  transition: 500ms all ease;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-color: transparent transparent transparent $purple;
  border-style: double;
  border-width: 0 0 0 6em;
}

body.tools .playpause.paused span {
  transition: 500ms all ease;
  border-color: transparent transparent transparent $purple-heavy;
  border-style: solid;
  border-width: 3.7em 0 3.7em 6em;
}

body.tools .stop {
  transition: 500ms all ease;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-250%, -50%);
  border-radius: 20em;
  width:2.2em;
  height:2.2em;
  text-align: center;
  background: #ffffff;
  border:3px $purple-heavy solid;
}

body.tools .stop.running {
  background: transparent;
  transition: 500ms all ease;
  border:3px $purple solid;
}

body.tools .stop span {
  transition: 500ms all ease;
  display: block;
  box-sizing: border-box;
  width: 0.8em;
  height: 0.8em;
  background: $purple-heavy;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

body.tools .stop.running span {
  transition: 500ms all ease;
  background: $purple;
}

body.tools .configure {
  transition: 500ms all ease;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(150%, -50%);
  border-radius: 20em;
  width:2.2em;
  height:2.2em;
  text-align: center;
  background: #ffffff;
  border:3px $purple-heavy solid;
}
body.tools .configure span {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
body.tools .configure span:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
}

body.tools .configure span:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
}
body.tools .configure span,
body.tools .configure span:before,
body.tools .configure span:after {
  border-radius: 50%;
  border: solid 0.16em $purple-heavy;
  background: $purple-heavy;
}

body.tools .configure.running {
  background: transparent;
  transition: 500ms all ease;
  border:3px $purple solid;
}
body.tools .configure.running span,
body.tools .configure.running span:before,
body.tools .configure.running span:after {
  border: solid 0.16em $purple;
}
body.tools .configure.running.is-active {
  background: #fff;
}

body.tools .playpause:hover,
body.tools .playpause.paused:hover,
body.tools .stop:hover,
body.tools .configure:hover {
  border:3px #ffffff solid;
  transition: 500ms all ease;
}

body.tools .track-progress {
  display: block;
  position: absolute;
  top: 56.5%; left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  border-radius: 8px;
  // height:0.1em;
  width:220px;
  box-shadow: 0 .7em 2em 0 rgba(96,64,127,.16);
  color: #6163a5;
  height:.3rem;
  // padding: .1rem;
}
body.tools .track-progress div.completed {
  display: block;
  height:.3rem;
  border-radius: 8px;
  width:0%;
  -webkit-animation-iteration-count : 1;
          animation-iteration-count : 1;
  -webkit-animation-name: trackprogress;
          animation-name: trackprogress;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
body.tools .track-progress div.completed.length5min {
  -webkit-animation-duration : 300s; // defaut pour 5 min
          animation-duration : 300s;
  // -webkit-animation-duration : 37s; // debug
  //         animation-duration : 37s;
}
body.tools .track-progress div.completed.length10min {
  -webkit-animation-duration : 600s;
          animation-duration : 600s;
}
body.tools .track-progress div.completed.lengthinfinite {
  -webkit-animation-duration : infinite;
          animation-duration : infinite;
}
body.tools .track-progress div.completed.running {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

body.tools .panel-config {
  display: none;

  position: absolute;
  top: 60%; left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 .7em 2em 0 rgba(96,64,127,.16);
  color: #6163a5;
  padding: 1.25rem;
}
body.tools .panel-config.is-active {
  display: block;
}
body.tools .panel-config .setting {
  padding-bottom: 1.5em;
}
body.tools .panel-config .setting:last-of-type {
  padding-bottom: 0;
}
body.tools .panel-config .setting .values span {
  transition: 500ms all ease;
  cursor: pointer;
  align-items: center;
  background-color: #f9f5ff;
  border-radius: 8px;
  color: #6163a5;
  display: inline-flex;
  font-size: 1em;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
}
body.tools .panel-config .setting .values span.is-active {
  background: $purple-heavy;
  color: #ffffff;
}
body.tools .panel-config .setting .values span.is-waiting {
  background: $purple;
  animation: blinkingBackground 2s infinite;
  color: #ffffff;
}
@keyframes blinkingBackground{
	0%		{ background-color: $purple;}
	25%		{ background-color: $purple-light;}
	50%		{ background-color: $purple;}
	75%		{ background-color: $purple-light;}
	100%	{ background-color: $purple;}
}


//************** Petits écrans et téléphones mobiles *****************/
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  hr {
    background-image:url('/images/hr@2x.png');
  }
  hr.light-bg {
    background-image:url('/images/hr-heavy@2x.png');
  }
}

@media only screen and (max-width: 768px) {
  .main .column.picture {
    text-align: center;
  }
  .paiement .box.main {
    padding: 1.25rem;
  }

  body.tools {
    height: calc(var(--vh, 1vh) * 100);
  }
  body.tools,
  body.tools * {
    font-size:14px;
  }
  body.tools .panel-config {
    width: 90%;
  }
  body.tools .track-progress {
    width: 90%;
  }
}
@media only screen and (max-height: 736px) {
  body.tools,
  body.tools * {
    font-size:14px;
  }
  body.tools .playpause {
    top: 90%;
  }
  body.tools .stop {
    top: 90%;
  }
  body.tools .configure {
    top: 90%;
  }
  body.tools .track-progress {
    top: 10%;
  }
  body.tools .panel-config {
    top: 35%;
  }
}
