<div class="comments">
{% if site.data.comments[page.slug] %}
    {% assign comments = site.data.comments[page.slug] %}
    {% for comment_hash in comments %}
      {% assign comment = comment_hash[1] %}
      <div id="comment_{{ comment._id  }}" class="comment">
        <div class="author">{{ comment.name | strip_html }}</div>
        <div class="date">
            {% if comment.date %}
              {{ comment.date | datePublication }}
            {% endif %}
        </div>

        <div class="message">{{ comment.message | strip_html | markdownify }}</div>
    {% else %}
      <p>Il n'y a aucun commentaire pour l'instant.</p>
    {% endfor %}
{% endif %}
</div>
