<div id="md-prise-rdv" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Prendre un rendez-vous</p>
    </header>
    <section class="modal-card-body">
      <div class="carousel">
        <div class="carousel-track">
          <div class="carousel-panel" id="panel-home">
            <div class="block">
              <a id="bt-choix-nouveau-client" data-track="bt_prise_rdv_nouveau_client" class="button is-purple-bordered" href="">
                <span class="title">Nouveau client</span>
              </a>

              <a id="bt-choix-deja-client" data-track="bt_prise_rdv_deja_client" class="button is-purple-bordered" href="">
                <span class="title">Déjà client</span>
              </a>

              <div class="paiement-a-reservation">Note : depuis janvier 2026, le paiement des séances doit se faire au moins 3 jours avant votre séance.</div>
            </div>

            
          </div>

          <div class="carousel-panel" id="panel-nouveau-client">
            <button class="button is-purple-bordered modal-bt-retour">Retour</button>
            <div class="block">
              <span class="is-styled-tag">Nouveau client</span>
              <div class="introduction purple-border">
                <div class="content">
                  <p>Parce que la réussite d'un accompagnement repose avant tout sur la qualité de notre relation, je ne propose pas de séances ponctuelles.</p>
                  <p>Je vous invite à un premier échange offert de 20 minutes (par téléphone ou visio). Ce temps nous permet de faire connaissance, de clarifier vos besoins et de vérifier si mon approche est la plus adaptée pour vous accompagner sur la durée.</p>
                  <p>C’est le premier pas pour définir, ensemble, le cadre de votre futur parcours.</p>
                </div>
                <a id="bt-seance-rencontre" class="button is-primary" href="" data-track="bt_prise_rdv_initier_parcours">Initier un parcours</a>
              </div>
            </div>
          </div>


          <div class="carousel-panel" id="panel-deja-client">
            <button class="button is-purple-bordered modal-bt-retour">Retour</button>
            <div class="block">
              <span class="is-styled-tag">Séance de suivi</span>
              <a id="bt-choix-lieu-adulte" class="button is-purple-bordered" href="" data-track="bt_prise_rdv_seance_adulte">
                <span class="title">Séance adulte ou adolescent</span>
                <span class="details">
                  <span class="description">Pour les adultes et adolescents de plus de 14 ans.</span>
                  <span class="tarif-duree">
                    <span class="valeur is-styled-tag">1h30</span>
                    <span class="valeur is-styled-tag">80€</span>
                  </span>
                </span>
              </a>

              <a id="bt-seance-enfant" class="button is-purple-bordered" href="" data-track="bt_prise_rdv_seance_enfant">
                <span class="title">Séance enfant</span>
                <span class="details">
                  <span class="description">Pour les enfants de 10 à 14 ans.<br />Note : les séances se déroulent sans le(s) parent(s).</span>
                  <span class="tarif-duree">
                    <span class="valeur is-styled-tag">1h</span>
                    <span class="valeur is-styled-tag">60€</span>
                  </span>
                </span>
              </a>
            </div>

            <div class="block">
              <span class="is-styled-tag">Breathwork holotropique</span>
              <a id="bt-seance-respiration" class="button is-purple-bordered" href="" data-track="bt_prise_rdv_seance_breathwork">
                <span class="title">Séance de respiration holotropique</span>
                <span class="details">
                  <span class="description">
                    <span>Pour les adultes et adolescents de plus de 16 ans.</span>
                    <span>Inclut une séance d'intégration de 30 min 1 à 2 semaines après la respiration.</span>
                  </span>
                  <span class="tarif-duree">
                    <span class="valeur is-styled-tag">1h45</span>+ <span class="valeur is-styled-tag">30min</span>
                    <span class="valeur is-styled-tag">140€</span>
                  </span>
                </span>
              </a>
            </div>
          </div>

          <div class="carousel-panel" id="panel-seance-adulte">
            <button class="button is-purple-bordered modal-bt-retour">Retour</button>
            <div class="block">
              <a id="bt-seance-adulte" class="button is-purple-bordered" href="" data-track="bt_prise_rdv_seance_adulte_presence">
                <span class="title">En présence</span>
                <span class="details">
                  <span class="description description-longue">
                    <span>2 Avenue de Verdun, 31290 Villefranche-de-Lauragais</span>
                  </span>
                </span>
              </a>

              <a id="bt-seance-adultevisio" class="button is-purple-bordered" href="" data-track="bt_prise_rdv_seance_adulte_distance">
                <span class="title">À distance</span>
                <span class="details">
                  <span class="description description-longue">
                    <span>En visio-conférence avec <i class="fas fa-video"></i> Google Meet.</span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <button class="modal-close is-large" aria-label="close" data-bulma-modal="close"></button>
</div>