<div id="md-prise-rdv" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Prendre un rendez-vous</p>
    </header>
    <section class="modal-card-body">

      <div class="block">
        <span class="is-styled-tag">Hypnose</span>
        <a id="bt-seance-adulte" class="button is-purple-bordered" href="">
          <span class="title">Séance d’hypnose adulte ou adolescent</span>
          <span class="details">
            <span class="description">Pour les adultes et adolescents de plus de 14 ans.</span>
            <span class="tarif-duree">
              <span class="valeur is-styled-tag">1h30</span>
              <span class="valeur is-styled-tag">80€</span>
            </span>
          </span>
        </a>

        <a id="bt-seance-enfant" class="button is-purple-bordered" href="">
          <span class="title">Séance d’hypnose enfant</span>
          <span class="details">
            <span class="description">Pour les enfants de 10 à 14 ans.<br />Note : les séances se déroulent sans le(s) parent(s).</span>
            <span class="tarif-duree">
              <span class="valeur is-styled-tag">1h</span>
              <span class="valeur is-styled-tag">60€</span>
            </span>
          </span>
          
        </a>
      </div>

      <div class="block">
        <span class="is-styled-tag">Respiration holotropique</span>
        <a id="bt-seance-respiration" class="button is-purple-bordered" href="">
          <span class="title">Séance de respiration holotropique</span>
          <span class="details">
            <span class="description">
              <span>Pour les adultes et adolescents de plus de 16 ans.</span>
              <span>Inclut une séance d'intégration de 30 min 1 à 2 semaines après la respiration.</span>
            </span>
            <span class="tarif-duree">
              <span class="valeur is-styled-tag">1h45</span>+ <span class="valeur is-styled-tag">30min</span>
              <span class="valeur is-styled-tag">140€</span>
            </span>
          </span>
          
        </a>
      </div>

      {% comment %}
      <div class="block">
        <div class="fake-button light-grey-bg">
          <span class="title">Séance à domicile</span>
          <span class="description">Pour les séances à domicile, merci de me contacter par téléphone : <a
              href="tel:+33637332655">06 37 33 26 55</a></span>
        </div>

      </div>
      {% endcomment %}
    </section>
  </div>

  <button class="modal-close is-large" aria-label="close" data-bulma-modal="close"></button>
</div>