<section class="section newsletter light-bg">
  <div class="container">
    <div class="main">
      <div class="columns is-vcentered">
        <div class="column is-half has-text-right">
          <h3 class="title is-2">Inscrivez-vous à la newsletter</h3>
          <div class="block">
            <p>Reçevez les actualités de Luminose par e-mail (publication d'un article, d'informations sur des stages ou des formations).</p>
          </div>

            <!-- Begin Brevo Form -->
            <!-- START - We recommend to place the below code where you want the form in your website html  -->
            <form class="is-horizontal" id="sib-form" method="POST" target="_blank" action="https://5bb7bc3f.sibforms.com/serve/MUIFAL60i4t7iCY8YY1qUgXE0uNF0bftHwnZgfsZiCFt2AwcDhRIyDsE2c1Vs7OtbMpC8pW4-bXznMJO1qxoFzJ6rqIV2ju-7xmyb56s0Sj46CBCEiaqgYUIBB0h25An6B3iAbLHKxMrS0TvmjFwJnC4MHM-3SY2qAGKsUnup8F0777bss0n90vxIZUfSDLsBd9QyH_L-bZwI8Sa">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-purple-bordered" type="email" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Adresse e-mail" data-required="true" required />
                </div>
                <div class="control">
                  <button type="submit" class="button is-white is-purple-bordered" form="sib-form">S’inscire à la newsletter</button>
                </div>
              </div>

              <input type="hidden" id="ABONNE_VIA_SITE_WEB" name="ABONNE_VIA_SITE_WEB" value=1" />
              <input type="hidden" id="OPT_IN" name="OPT_IN" value="1" />
              <input type="hidden" name="locale" value="fr">
              <input type="hidden" name="html_type" value="simple">
            </form>
            <!-- END - We recommend to place the above code where you want the form in your website html  -->
            <!-- End Brevo Form -->

          <div class="block">
            <p><small>Quelques envois dans l'année et vous pouvez vous désinscrire à tout moment.</small></p>
          </div>
        </div>
        <div class="column">
          <i class="icon icon-newsletter big-icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Begin Brevo Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->
<style>
  @font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
  }

  #sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container a {
    text-decoration: underline;
    color: #2BB2FC;
  }
</style>
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<!--  END - We recommend to place the above code in head tag of your website html -->

<!-- START - We recommend to place the below code where you want the form in your website html  -->
<div class="sib-form" style="text-align: center;
         background-color: #EFF2F7;                                           ">
  <div id="sib-form-container" class="sib-form-container">
    <div id="sib-container" class="sib-container--large sib-container--vertical" style="text-align:center; background-color:rgba(255,255,255,1); max-width:540px; border-radius:3px; border-width:1px; border-color:#C0CCD9; border-style:solid;">
      <form id="sib-form" method="POST" action="https://5bb7bc3f.sibforms.com/serve/MUIFALNpdSB4-d2ZWpI6itfEtIZ4fIUft8I_mFGUb77_VlIjj99Cr2QjaMnikFNwVbnIJo06HJtIJ8xuWWAA8s-Am8umrk9GB4RYzptnGMi0NbsC7mhqGHNHsP0EY059SusJZ_606DWrfGEfPSQs7uepz8g_bLzVIOf-Wrftrb02aqg-2t-Bx2uzty8jVKwAF8dmaFnguigjhiK2">
        <div style="padding: 8px 0;">
          <div class="sib-optin sib-form-block">
            <div class="form__entry entry_mcq">
              <div class="form__label-row ">
                <div class="entry__choice" style="">
                  <label>
                    <input type="checkbox" class="input_replaced" value="1" id="ABONNE_VIA_SITE_WEB" name="ABONNE_VIA_SITE_WEB" />
                    <span class="checkbox checkbox_tick_positive"
            style="margin-left:"
            ></span><span style="font-size:14px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#3C4858; background-color:transparent;"><p>Case à cocher</p></span> </label>
                </div>
              </div>
              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-optin sib-form-block">
            <div class="form__entry entry_mcq">
              <div class="form__label-row ">
                <label class="entry__label" style="font-weight: 700; text-align:left; font-size:16px; text-align:left; font-weight:700; font-family:&quot;Helvetica&quot;, sans-serif; color:#3c4858;" for="OPT_IN">OPT_IN</label>
                <div class="entry__choice" style="">
                  <label>
                    <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" />
                    <span class="checkbox checkbox_tick_positive"
            style="margin-left:"
            ></span><span style="font-size:14px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#3C4858; background-color:transparent;"><p>Case à cocher</p></span> </label>
                </div>
              </div>
              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
              <label class="entry__specification" style="font-size:12px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#8390A4; text-align:left">
                Personnalisez ce texte d&#039;aide facultatif avant de publier votre formulaire.
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-input sib-form-block">
            <div class="form__entry entry_block">
              <div class="form__label-row ">

                <div class="entry__field">
                  <input class="input " type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                </div>
              </div>

              <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-form-block" style="text-align: left">
            <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:&quot;Helvetica&quot;, sans-serif; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
              <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
              </svg>
              S&#039;INSCRIRE
            </button>
          </div>
        </div>
        <input type="text" name="email_address_check" value="" class="input--hidden">
        <input type="hidden" name="locale" value="fr">
        <input type="hidden" name="html_type" value="simple">
      </form>
    </div>
  </div>
</div>
<!-- END - We recommend to place the above code where you want the form in your website html  -->
<!-- End Brevo Form -->