<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content">
          <h2 class="title is-2">La cohérence cardiaque</h2>
          <p>La respiration en cohérence cardiaque vous guide vers un moment de présence à vous-même.</p>
          <a class="button is-white is-purple-bordered is-medium" href="{{ site.baseurl }}/outils/respiration.html">Faire une session de respiration</a>
        </div>
      </div>
      <div class="column has-text-right">
        <a href="{{ site.baseurl }}/outils/respiration.html"><img src="/images/contenus/respiration.jpg" srcset="/images/contenus/respiration.jpg, /images/contenus/respiration@2x.jpg 2x" alt="Respiration en cohérence cardiaque"></a>
      </div>
    </div>
  </div>
</section>
