{% if site.data.temoignages[page.slug] %}
<div class="temoignages">
	<div class="light-bg">
		<p class="illustration"><i class="icon icon-temoignages"></i></p>
		<h3>Témoignages</h3>
		<div class="columns is-multiline">
		{% assign temoignages = site.data.temoignages[page.slug] %}
		{% for temoignage in temoignages %}
		
		<div class="column is-one-third temoignage">
			<div class="white-bg">
			  <div class="texte">" {{ temoignage.texte | strip_html }} "</div>
			</div>
			<div class="metadata-container">
			  <div class="auteur">{{ temoignage.auteur | strip_html }}</div>
			  <small class="ville">{{ temoignage.ville | strip_html }}</small>
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endif %}