<hr />
<div class="plus light-grey-bg">
	<div class="title">Pour aller plus loin</div>
	<div class="buttons">
	  <a href="{{ site.baseurl }}/seance-hypnose.html" class="button is-white is-purple-bordered">Comment se déroulent les séances ?</a>
	  <a href="https://www.doctolib.fr/hypnotherapeute/villefranche-de-lauragais/florent-jaouali?utm_medium=referral&utm_campaign=website-button&utm_content=option-2&utm_term=florent-jaouali&utm_source=florent-jaouali-website-button" target="_blank" class="button is-primary">Prendre un rendez-vous</a>
	</div>
</div>