<div class="box">
  <article class="media">
	<div class="media-left">
	  <figure class="image is-64x64">
		<img class="florent" src="/images/florent.png" srcset="/images/florent.png, /images/florent@2x.png 2x" alt="Florent Jaouali">
	  </figure>
	</div>
	<div class="media-content">
	  <div class="content">
		  <p><small>{{ page.date | datePublicationArticle }}</small></p>
		  <p>Par <strong>Florent Jaouali</strong>, Hypnothérapeute</p>
		  <p>Je vous reçois en séance d'hypnose à Villefranche de Lauragais ou à votre domicile. <small>Secteurs possibles : Toulouse, Labège, Saint-Orens de Gameville, Castanet, Baziège, Castelnaudary, Nailloux, Gardouch, Revel, Pamiers, Auterive, etc.</small></p>
	  </div>
	</div>
  </article>
</div>