<section class="section oracle">
  <img src="images/contenus/oracle-ressources-boite.jpg" srcset="images/contenus/oracle-ressources-boite.jpg, images/contenus/oracle-ressources-boite@2x.jpg 2x" alt="Oracle de mes ressources (boitier)">
  <div class="container">
    <div class="content">
      <p class="title">L’Oracle de mes ressources</p>
      <p class="subtitle">Un jeu de cartes pour se dé-couvrir</p>
      <a class="button is-white is-purple-bordered" href="{{ site.baseurl }}/outils/oracle-de-mes-ressources.html">Découvrir cet Oracle</a>
    </div>
  </div>
</section>
