<footer class="footer">
  <div class="container has-text-centered content">
    <p>Retrouvez-moi sur <a href="https://www.facebook.com/hypnose.villefranche.de.lauragais/"><span class="icon"><i class="fas fa-brands fa-facebook"></i></span>Facebook</a> et <a href="https://www.linkedin.com/company/luminose/"><span class="icon"><i class="fas fa-brands fa-linkedin"></i></span>LinkedIn</a></p>
    <p><a href="/mentions-legales.html">Mentions légales</a></p>
    <p>© 2019-{{ 'now' | date: "%Y" }}, Luminose.fr</p>
  </div>
</footer>

<div id="md-prise-rdv" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Prendre un rendez-vous</p>
    </header>
    <section class="modal-card-body">

        <div class="block">
			<span class="is-styled-tag">Hypnose</span>
	        <a id="bt-seance-adulte" class="button is-purple-bordered" href="">
	          <span class="title">Séance adulte ou adolescent</span>
	          <span class="description">Parking, salle d'attente & accessible aux personnes à mobilité réduite.</span>
	        </a>
        
	        <a id="bt-seance-enfant" class="button is-purple-bordered" href="">
	          <span class="title">Séance enfant</span>
	          <span class="description">Pour les enfants de moins de 14 ans.<br />Note : les séances se déroulent sans le(s) parent(s).</span>
	        </a>
        </div>
		
        <div class="block">
			<span class="is-styled-tag">Respiration holotropique</span>
        <a id="bt-seance-adulte" class="button is-purple-bordered" href="">
          <span class="title">Séance adulte ou adolescent</span>
          <span class="description">Parking, salle d'attente & accessible aux personnes à mobilité réduite.</span>
        </a>
        </div>
		
		{% comment %}
        <div class="block">
          <div class="fake-button light-grey-bg">
            <span class="title">Séance à domicile</span>
            <span class="description">Pour les séances à domicile, merci de me contacter par téléphone : <a href="tel:+33637332655">06 37 33 26 55</a></span>
          </div>

        </div>
		{% endcomment %}
    </section>
  </div>
  
  <button class="modal-close is-large" aria-label="close" data-bulma-modal="close"></button>
</div>