<footer class="footer">
  <div class="container has-text-centered content">
    <p>Retrouvez-moi sur <a href="https://www.facebook.com/hypnose.villefranche.de.lauragais/"><span class="icon"><i class="fas fa-brands fa-facebook"></i></span>Facebook</a> et <a href="https://www.linkedin.com/company/luminose/"><span class="icon"><i class="fas fa-brands fa-linkedin"></i></span>LinkedIn</a></p>
    <p><a id="bt-cookies-update" href="#">Cookies et vie privée</a> - <a href="/mentions-legales.html">Mentions légales</a></p>
    <p>© 2019-{{ 'now' | date: "%Y" }}, Luminose.fr</p>
  </div>
</footer>