<header class="section header">
	<div class="container">
		<nav id="secondary-navbar" class="navbar" role="navigation" aria-label="secondary navigation">
			<div class="navbar-brand is-hidden-mobile">
				<a href="{{ site.baseurl }}/" class="master-logo">{% img_optimized "luminose-logo-hz.png" alt="Luminose" class="logo" width=240 height=80 loading="eager" %}</a>
			</div>

			<div class="navbar-end is-hidden-mobile">
				<a href="{{ site.baseurl }}/tarifs-seances-adresse.html" class="navbar-item {% if page.section == "tarifs" %}is-active{% endif %}">Tarifs & Infos pratiques</a>
				<a href="{{ site.baseurl }}/florent-jaouali.html" class="navbar-item {% if page.section == "qui" %}is-active{% endif %}">Qui suis-je ?</a>
				<a href="{{ site.baseurl }}/blog.html" class="navbar-item {% if page.section == "blog" %}is-active{% endif %}">Blog</a>
			</div>
		</nav>
		<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
		  <div class="container">

  		     <div id="main-navigation" class="navbar-menu">
			    <a href="{{ site.baseurl }}/" class="is-hidden-tablet mobile-logo">{% img_optimized "luminose-logo.png" alt="Luminose" class="logo" width=174 height=127 loading="eager" %}</a>
	  		    <div class="navbar-start is-hidden-mobile">
		          <a href="{{ site.baseurl }}/" class="navbar-item {% if page.section == "accueil" %}is-active{% endif %}">Accueil</a>
		          <a href="{{ site.baseurl }}/commencer-un-accompagnement.html" class="navbar-item {% if page.section == "accompagnement" or page.section == "hypnotherapie" or page.section == "meditation" or page.section == "holotropique" %}is-active{% endif %}">L'accompagnement individuel</a>
		          <a href="{{ site.baseurl }}/commencer-un-accompagnement.html" class="navbar-item navbar-sub-item is-hidden-mobile is-hidden-tablet {% if page.section == "accompagnement" %}is-active{% endif %}">Le premier pas</a>
		          <a href="{{ site.baseurl }}/hypnotherapie.html" class="navbar-item navbar-sub-item is-hidden-mobile is-hidden-tablet {% if page.section == "hypnotherapie" %}is-active{% endif %}">L'hypnose</a>
		          <a href="{{ site.baseurl }}/meditation.html" class="navbar-item navbar-sub-item is-hidden-mobile is-hidden-tablet {% if page.section == "meditation" %}is-active{% endif %}">La méditation</a>
		          <a href="{{ site.baseurl }}/respiration-holotropique.html" class="navbar-item is-hidden-mobile navbar-sub-item is-hidden-tablet {% if page.section == "holotropique" %}is-active{% endif %}">Le breathwork holotropique</a>
		          <a href="{{ site.baseurl }}/ateliers-stages.html" class="navbar-item {% if page.section == "ateliers" or page.section == "evenements" %}is-active{% endif %}">Ateliers & stages</a>
		          <a href="{{ site.baseurl }}/ateliers-stages.html" class="navbar-item navbar-sub-item is-hidden-mobile is-hidden-tablet {% if page.section == "ateliers" %}is-active{% endif %}">Marcher ensemble</a>
		          <a href="{{ site.baseurl }}/evenements.html" class="navbar-item navbar-sub-item is-hidden-mobile is-hidden-tablet {% if page.section == "evenements" %}is-active{% endif %}">L'agenda</a>
	  		    </div>
				<div class="navbar-start is-hidden-tablet is-hidden-mobile">
					<a href="{{ site.baseurl }}/tarifs-seances-adresse.html" class="navbar-item {% if page.section == "tarifs" %}is-active{% endif %}">Tarifs & Infos pratiques</a>
					<a href="{{ site.baseurl }}/florent-jaouali.html" class="navbar-item {% if page.section == "qui" %}is-active{% endif %}">Qui suis-je ?</a>
					<a href="{{ site.baseurl }}/blog.html" class="navbar-item {% if page.section == "blog" %}is-active{% endif %}">Blog</a>
				</div>
				<div class="navbar-end is-hidden-mobile">
					{% bouton_rendez_vous navbar-item  %}
				</div>
			  </div>
    			<div id="mobile-navbar-brand" class="navbar-brand mobile-navbar-brand is-hidden-tablet has-text-centered">
    		        <div id="mobile-navigation" class="nav-buttons">
    		        	<a id="bt-navigation" href="#" role="button" class="button is-white is-purple-bordered" aria-label="menu" aria-expanded="false" data-target="main-navigation">Menu</a>
    		        	{% bouton_rendez_vous navbar-item %}
    		        </div>
    			</div>
		   </div>
		</nav>
		{% if page.section == "accompagnement" or page.section == "hypnotherapie" or page.section == "meditation" or page.section == "holotropique" %}
		<nav id="relative-navbar" class="navbar" role="navigation" aria-label="relative navigation">
			 <div class="container">
				 <div id="relative-navigation" class="navbar-menu">
					 <div class="navbar-start">
						 <a href="{{ site.baseurl }}/commencer-un-accompagnement.html" class="navbar-item {% if page.section == "accompagnement" %}is-active{% endif %}">Le premier pas</a><a href="{{ site.baseurl }}/hypnotherapie.html" class="navbar-item {% if page.section == "hypnotherapie" %}is-active{% endif %}">L'hypnose</a><a href="{{ site.baseurl }}/meditation.html" class="navbar-item {% if page.section == "meditation" %}is-active{% endif %}">La méditation</a><a href="{{ site.baseurl }}/respiration-holotropique.html" class="navbar-item {% if page.section == "holotropique" %}is-active{% endif %}">Le breathwork holotropique</a>
					 </div>
				 </div>
			 </div>
		</nav>
		{% elsif page.section == "ateliers" or page.section == "evenements" %}
		<nav id="relative-navbar" class="navbar" role="navigation" aria-label="relative navigation">
			 <div class="container">
				 <div id="relative-navigation" class="navbar-menu">
					 <div class="navbar-start">
						 <a href="{{ site.baseurl }}/ateliers-stages.html" class="navbar-item {% if page.section == "ateliers" %}is-active{% endif %}">Marcher ensemble</a><a href="{{ site.baseurl }}/evenements.html" class="navbar-item {% if page.section == "evenements" %}is-active{% endif %}">L'agenda</a>
					 </div>
				 </div>
			 </div>
		</nav>
		{% endif %}
  </div>
</header>
