<div class="column is-12-mobile is-12-tablet is-5-desktop is-5-widescreen is-5-fullhd">
    <div class="">
        <h2>Évènements à venir</h2>
        <h3>Participez aux évènements en groupe</h3>
        
        <section class="evenements push-confirmation">
        <div class="container">
            <div class="content">
            {% if evenements_futurs.size > 0 %}
                <div class="liste-evenements">
                {% for evenement in evenements_futurs limit:2 %}
                <a class="evenement evenement-{{ evenement.category}}" href="{{ evenement.url }}">
                    <span class="date">
                    {{ evenement.date | dateEvenement }}
                    </span>
                    <span class="description">
                    <span class="nom">{{ evenement.category | nomCategorieEvenement }} - {{ evenement.title }}</span>
                    <span class="is-styled-tag">de {{ evenement.date | heure }} à {{ evenement.date_fin | heure }}</span>
                    <span class="is-styled-tag">à {{ evenement.ville }}</span>
                    </span>
                </a>
                {% endfor %}
                </div>
            {% else %}
                <p class="notification is-warning is-light">Aucun évènement n'est planifié pour l'instant.</p>
            {% endif %}
            </div>
        </div>
        </section>
    </div>
</div>