@use "ui-variables" as v;
@use "bulma-1.0.0/sass" with (
	$modal-background-background-color: rgba(31, 31, 31, .4), // identique à Calendly
	$modal-card-head-background-color: v.$purple-heavy,
	$modal-card-head-padding: 1rem,
	$modal-card-body-padding: 1rem,
	$modal-card-title-color: #ffffff,
	$modal-card-title-size: 1rem,
	$modal-content-width: 24rem,
	$modal-card-spacing: 1rem,
	
	$family-secondary: v.$family-serif,
	$text: v.$purple,
	$text-strong: v.$purple-heavy,
	$strong-color: v.$purple-heavy,
	$body-family: v.$family-sans-serif,
	$title-family: v.$family-serif,
	$title-color: v.$purple,
	$body-size: 16px,
	$primary: v.$purple,
	$link: v.$purple-heavy,
	$title-weight: 300,
	$subtitle-weight: 300,

	$radius-large: 8px,
	$box-shadow: 0 0.7em 2em 0 rgba(v.$purple-heavy, 0.16),

	$footer-background-color: #FFFFFF,
	$footer-color: v.$purple,
	$footer-padding: 1.5rem,

	$table-head-background-color: v.$purple-heavy,
	$table-color: v.$purple,
);