@use "ui-variables" as v;
@use "bulma-1.0.4/sass/utilities/mixins";

@mixin dark-theme {
	.footer {
		--bulma-footer-background-color: v.$dark-purple-heaviest;
	}

	.title,
	.subtitle,
	.title.is-2,
	.title.is-3,
	.article .content h1,
	.article .content h2,
	.article .content h3,
	small {
		color: v.$dark-purple;
	}

	hr.light-bg:before {
		color: v.$purple;
	  }

	.article .content h2:before {
		background: v.$dark-orange-light;
		z-index: -1;
	}

	.blog .content .light-bg h3:not(:first-child),
	.blog .content .light-green-bg h3:not(:first-child),
	.blog .content .light-red-bg h3:not(:first-child) {
		color: inherit;
	}

	.article .content a:hover:not(.button):not(.tag) {
		background: v.$dark-purple-heavy;
	}

	a.button.is-primary {
		color: v.$purple-heavy;
		background: #FFFFFF;
	}

	a.button.is-primary:hover {
		background: v.$purple-light;
	}

	a.button.is-purple-bordered,
	button.button.is-purple-bordered,
	input.is-purple-bordered,
	select.is-purple-bordered,
	textarea.is-purple-bordered,
	a.button.is-purple-bordered:hover,
	button.button.is-purple-bordered:hover,
	input.is-purple-bordered:hover select.is-purple-bordered:hover,
	textarea.is-purple-bordered:hover,
	{
	color: v.$purple-light;
	border: 2px v.$purple-logo solid;
	box-shadow: none;
	background-color: rgba(v.$dark-purple-heavy, 0.50);
}

a.button.is-purple-bordered:hover,
button.button.is-purple-bordered:hover {
	background: v.$purple-logo;
	color: #FFFFFF;
}

a.button.bt-evenements.is-active,
body.has-navbar-fixed-top	#main-navbar .navbar-end a.button.bt-evenements.is-active {
	background: v.$purple-logo;
	border: 2px v.$purple-logo solid;
}

input.is-purple-bordered:hover,
select.is-purple-bordered:hover,
textarea.is-purple-bordered:hover,
{
background: v.$purple-logo;
color: #FFFFFF;
}

input.is-purple-bordered.is-danger,
select.is-purple-bordered.is-danger,
textarea.is-purple-bordered.is-danger {
	border: 2px var(--bulma-danger) solid;
}

input.is-purple-bordered.is-success,
select.is-purple-bordered.is-success,
textarea.is-purple-bordered.is-success {
	border: 2px var(--bulma-success) solid;
}

#options-paiement {
	.field-body.coupon-container { 
	  input {
		box-shadow: inset 0 .0625em .125em hsla(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-invert-l), 0.05);
		border: 1px rgb(230, 230, 230) solid;
		background-color: #FFFFFF;
		color: hsl(221, 14%, 21%);
	  }
	  .notification.is-warning.is-light {
		background-color: hsl(42deg, 100%, 90%);
		color: hsl(42deg, 100%, 13%);
	  }
	}
}


.is-checkradio[type=checkbox]+label::before,
.is-checkradio[type=checkbox]+label:before,
.is-checkradio[type=radio]+label::before,
.is-checkradio[type=radio]+label:before {
	border-color: v.$purple-logo;
}

.is-checkradio.is-danger[type=checkbox]+label::before,
.is-checkradio.is-danger[type=checkbox]+label:before,
.is-checkradio.is-danger[type=radio]+label::before,
.is-checkradio.is-danger[type=radio]+label:before {
	border: 2px var(--bulma-danger) solid;
}

.blog .content .liens-partager a.button.is-white {
	background: v.$dark-purple-heaviest;
	color: v.$purple;
	transition: background-color 0.3s ease;
}

.blog .content .liens-partager a.button.is-white:hover {
	background: v.$dark-purple-heavy;
}

.notification.is-warning.is-light {
	background-color: v.$dark-warning-tag-background;
	color: v.$dark-warning-tag-color;
}

.light-bg {
	background-color: v.$dark-purple-heavy;
}

.content .light-bg {
	color: #FFFFFF;
}

.light-bg,
.light-bg .title,
.light-bg .subtitle,
.content .light-bg h2,
.content .light-bg h3,
.blog .temoignages .light-bg {
	color: v.$dark-purple;
}

.white-bg {
	background-color: v.$dark-purple-heaviest;
	color: v.$dark-purple;
}

.light-grey-bg {
	background-color: v.$dark-purple-heavy;
	color: v.$dark-purple;
}

.purple-border {
	border: 2px v.$dark-purple-heavy solid;
}

.is-styled-tag {
	background-color: v.$dark-purple-heavy;
}
.is-styled-tag.is-white {
	background-color: v.$dark-purple-heaviest;
	color: v.$dark-purple;
  }

.tag.is-light {
	background-color: v.$dark-purple-heavy;
}

.tag.is-warning.is-light {
	background-color: v.$dark-warning-tag-background;
	color: v.$dark-warning-tag-color;
}
.tag.tagbanner {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .7);
  background-color: #b11a41;
  color:#ff92ae;
}
.navbar {
	background-color: transparent;
}

#md-cookies {
	.modal-background {
		background-color: rgba(32, 18, 46, .8)
	}
}

#main-navbar {
	background-color: v.$dark-purple-heavy;

	.navbar-menu {

		.navbar-start>.navbar-item,
		.navbar-start .navbar-link {
			color: v.$purple-light;
		}

		.navbar-start>a.navbar-item:hover {
			color: #FFFFFF;
			background-color: v.$purple-logo;
		}

		.navbar-start>.navbar-item.is-active {
			background-color: v.$purple-logo;
			color: #FFFFFF;
		}

		.navbar-end a.button.is-primary {
			color: v.$purple-heavy;
			transition: background-color 0.3s ease;
		}

		.navbar-end a.button.is-primary:hover {
			background: v.$purple-light;
		}

	}
}

#main-navbar.is-fixed-top {
	background-color: v.$dark-purple-heavy;
	box-shadow: 0 2px 23px 0 v.$dark-purple-heaviest;
}

#secondary-navbar .navbar-end>.navbar-item {
	color: v.$dark-purple;
}

#secondary-navbar .navbar-end .navbar-item.is-active {
	background-color: v.$dark-purple-heavy;
	color: v.$dark-purple;
}

#relative-navbar {
	background: v.$dark-purple-heaviest;

	.navbar-start>.navbar-item,
	.navbar-start .navbar-link {
		color: v.$dark-orange-lighter;
		border-top: 2px v.$dark-orange-light solid;
		border-bottom: 2px v.$dark-orange-light solid;
	}

	.navbar-start>a.navbar-item:hover {
		background-color: v.$dark-orange-light;
	}

	.navbar-start>.navbar-item.is-active,
	.navbar-start>.navbar-item.is-active:hover {
		background-color: v.$dark-orange-light;
		color: v.$dark-orange-lighter;
	}

	.navbar-start>.navbar-item:first-of-type {
		border-left: 2px v.$dark-orange-light solid;
	}

	.navbar-start>.navbar-item:last-of-type {
		border-right: 2px v.$dark-orange-light solid;
	}

}

#relative-navbar.is-fixed-top {
	background-color: v.$dark-purple-heaviest;
	box-shadow: 0 2px 23px 0 v.$dark-purple-heaviest;
	transition: box-shadow 0.3s ease-in-out;
}

#md-prise-rdv .modal-card {
	color: v.$purple;

	strong {
		color: v.$purple-heavy;
	}
	.purple-border {
		border-color: v.$purple-light-border;
	}

	a.button.is-primary {
		color: #ffffff;
		background: v.$purple;
	}
	a.button.is-primary:hover {
		background: v.$purple-heavy;
	}
	.modal-bt-retour {
    	color: v.$purple-heavy;
		border: 2px v.$purple-light-border solid;
		box-shadow: none;
		background-color: transparent;
    }

	.modal-card-body {
		background-color: #FFFFFF;
	}

	span.is-styled-tag {
		background-color: v.$purple-light;
		color: v.$purple;
	}

	.carousel-track {
    //   min-height: 500px; /* ou la hauteur souhaitée */
    }

	a.button.is-purple-bordered,
	div.fake-button {
		background-color: #FFFFFF;
		border-color: v.$purple-light-border;

		.title {
			color: v.$purple-heavy;
		}

		.description {
			font-size: var(--bulma-size-7);
			color: v.$purple;
		}
	}

	.button.is-purple-bordered:hover {
		background: v.$purple-light;
	}
}

section.highlight,
section.article div.highlight {
	background-image: linear-gradient(135deg, v.$dark-purple-heaviest, v.$dark-purple-heavy);
	color: #ffffff;

	.white-bg {
		strong {
		  color: #ffffff;
		}
	  }
}

section.hypnotherapie {
	// a.bt-highlight {
	div.highlight {
		background-color: rgba(97, 36, 127, 0.25);
	}

	// a.bt-highlight:hover {
	// 	background-color: rgba(97, 36, 127, 0.45);
	// }
}

section.oracle {
	color: v.$purple-light;

	background-attachment: fixed;
	background-image: url("/images/interface/pattern-oracle-dark.jpg");
	background-image:
		-webkit-image-set(url("/images/interface/pattern-oracle-dark.jpg") 1x,
			url("/images/interface/pattern-oracle-dark@2x.jpg") 2x,
		);
	background-image:
		image-set(url("/images/interface/pattern-oracle-dark.jpg") 1x,
			url("/images/interface/pattern-oracle-dark@2x.jpg") 2x,
		);

	.title,
	.subtitle {
		color: v.$purple-light;
	}
}
.column section.seuil {
  background: linear-gradient(180deg, #38154B, #6F2233);
  color: v.$purple-seuil-alt;
  
  .title,
  .subtitle {
    color: v.$purple-seuil-alt;
  }
  
}

section.florent {
	background: v.$dark-purple-heaviest;
	background-attachment: fixed;
	background-image: url("/images/interface/pattern-seigaiha-dark.jpg");
	background-image:
		-webkit-image-set(url("/images/interface/pattern-seigaiha-dark.jpg") 1x,
			url("/images/interface/pattern-seigaiha-dark@2x.jpg") 2x,
		);
	background-image:
		image-set(url("/images/interface/pattern-seigaiha-dark.jpg") 1x,
			url("/images/interface/pattern-seigaiha-dark@2x.jpg") 2x,
		);
}

section.florent .container {
	border: 2px v.$dark-purple-heavy solid;
	background-color: v.$dark-purple-heaviest;
}

section.newsletter {
	border-bottom: 0.7rem v.$dark-orange-light solid;
	border-image: linear-gradient(150deg, v.$dark-orange-light 0%, v.$dark-purple-heaviest 100%);
	border-image-slice: 1;
}

section.article div.highlight {
	.tabs ul li {

		a:not(.button):not(.tag) {
			color: v.$dark-purple;
		}

		a.is-active:not(.button):not(.tag),
		a:hover:not(.button):not(.tag) {
			background-color: v.$dark-purple-heavy;
			color: #FFFFFF;
		}
	}

	.content-wrap {
		color: #FFFFFF;
		background: v.$dark-purple-heavy;

		.title,
		.subtitle {
			color: #FFFFFF;
		}

		.tab-content a:hover {
			background-color: v.$dark-purple;
		}
	}
}

section.respiration-holotropique {

	.mini-menu {
		a:last-of-type {
			border-bottom: 2px v.$dark-purple-heavy solid;
		}

		a {
			border: 2px v.$dark-purple-heavy solid;
			border-bottom: 0;
		}

	}
}

section.questionnaire-sante {

	.columns.light-bg.field.is-horizontal {

		.label {
			color: v.$dark-purple;
		}

		.column.is-9 {

			.grille-sante {

				background-color: v.$dark-purple-heaviest;

				td {
					color: v.$dark-purple;
					border-bottom: 2px v.$dark-purple-heavy solid;
				}
			}
		}
	}
}

section.evenements .liste-evenements {

	a.evenement {
  		.description {
		  border-color: v.$purple-logo;
		//   border-left: 0;
		}
	}
	a.evenement:hover .description > .is-styled-tag:not(.is-warning) {
		background-color: v.$purple-logo;
		transition: background-color .3s ease;
	  }
}
.push-confirmation section.evenements .liste-evenements {
	a.evenement {
		background-color: v.$dark-purple-heaviest;
	}
}

.blog .content {
	.blog-card-container .light-grey-bg {
		color: v.$dark-purple;
	}
	.fiche-methodologique {
		.content-wrap {
			strong {
				color: inherit;
			}
		}
		blockquote {
			background-color: hsl(0, 0%, 96%);
			border-inline-start-color: hsl(0, 0%, 86%);
		}
	}
}

.article .citation.fat {
	color: v.$dark-purple;
}

.article .achat .infos .ligne span.valeur {
	background-color: v.$dark-purple-heavy;
}

.citation {
	border: 2px v.$purple-logo solid;
	background-color: v.$dark-purple-heavy;
	color: v.$dark-purple;

	strong {
		color: var(--bulma-grey)-darker;
	}
}

.tarifs-seances .purple-border.infos-seance .description {
	background-color: v.$dark-purple-heavy;
}

	@include mixins.mobile {
	
		body.menu-active {
			#mobile-navbar-brand {
				background-color: v.$dark-purple-heaviest;
				box-shadow: 0 2px 23px 0 v.$dark-purple-heaviest;
			}
		}
	
		#main-navbar {
			background-color: v.$dark-purple-heaviest;
	
			#mobile-navbar-brand #mobile-navigation {
				a.button.is-primary {
					color: v.$purple-heavy;
				}
			}
	
			.navbar-menu.is-active {
				background-color: v.$dark-purple-heavy;
			}
	
			.navbar-brand a#bt-navigation.is-active,
			.navbar-start>.navbar-item.is-active {
				color: v.$purple-light;
				border: 2px v.$purple-logo solid;
				background-color: v.$dark-purple-heaviest;
			}
	
			.navbar-brand a#bt-navigation.is-active:hover,
			.navbar-start>.navbar-item.is-active:hover {
				background-color: v.$purple-logo;
			}
		}
	
	
		#relative-navbar {
			#relative-navigation {
	
				.navbar-start>.navbar-item,
				.navbar-start .navbar-link {
					border: 2px v.$dark-orange-light solid;
					border-top: 0;
				}
	
				.navbar-start>.navbar-item:first-of-type,
				.navbar-start .navbar-link:first-of-type {
					border-top: 2px v.$dark-orange-light solid;
				}
			}
		}
	
		section.newsletter .main form .field.has-addons .control input.input.is-purple-bordered {
			border: 2px v.$purple-logo solid;
		}
	
		.blog .content .summary-container.columns {
			.purple-border {
				border: 2px v.$purple-logo solid;
				border-top: 0;
			}
		}
	
		section.questionnaire-sante .columns.light-bg.field.is-horizontal .column.is-9 .grille-sante {
			td {
				border-bottom: 0;
			}
	
			tr td+td {
				border-bottom: 2px v.$dark-purple-heavy solid;
			}
		}
	
	}
}


@media (prefers-color-scheme: dark) {
	:root {
		--bulma-body-background-color: #20122E;
		--bulma-body-color: #BB95DD;
		--bulma-strong-color: #FFFFFF;

		@include dark-theme;
	}
}

[data-theme=dark],
.theme-dark {
	--bulma-body-background-color: #20122E;
	--bulma-body-color: #BB95DD;
	--bulma-strong-color: #FFFFFF;

	@include dark-theme;
}