@use "ui-variables" as v;
@use "bulma-1.0.2/sass/utilities/mixins";

@include mixins.mobile {

  .right-column {
    padding-right: .75rem;
    margin-top:0;
  }

  body.has-relative-navbar-fixed-top {
    //padding-top: 15rem;
  }

  body.has-navbar-fixed-top {
    padding-top: 14.6rem;

    .section.header {
      padding-bottom: 0;
      //padding-top:10.2rem;
    }

    #main-navbar {
      #main-navigation.navbar-menu {
        display: none;
      }
    }
  }

  #secondary-navbar {
    display: none;

  }

  #relative-navbar {
    display: block;
    height: auto;
    position: static;
    padding-top: 0;
    padding-bottom: 0;

    #relative-navigation {

      .navbar-start>.navbar-item,
      .navbar-start .navbar-link {
        display: block;
        border: 2px v.$green-light solid;
        border-top: 0;
      }

      .navbar-start>.navbar-item:first-of-type,
      .navbar-start .navbar-link:first-of-type {
        border-top: 2px v.$green-light solid;
        border-top-right-radius: var(--bulma-radius-large);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .navbar-start>.navbar-item:last-of-type,
      .navbar-start .navbar-link:last-of-type {
        //border-bottom-left: 2px v.$green-light solid;
        border-bottom-left-radius: var(--bulma-radius-large);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  #relative-navbar.navbar.is-fixed-top {
    display: block;
    height: auto;
    position: static;
  }

  #main-navbar {
    padding: 0;
    background: #ffffff;

    #main-navigation.navbar-menu {
      padding-top: 1.5rem;
      display: block;
      text-align: center;
    }

    #mobile-navbar-brand {

      #mobile-navigation {
        padding: 1rem;

        a.button.is-primary {
          margin-bottom: 0;
          color: #ffffff;
          border: 2px transparent solid;
        }
      }
    }
  }

  #main-navbar.is-fixed-top {
    padding: 0;
  }

  #relative-navbar {

    .navbar-menu {
      display: block;
      box-shadow: none;

    }
  }

  body.menu-active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    #relative-navbar {
      display: none;
    }

    #mobile-navbar-brand {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #ffffff;
      display: block;
      box-shadow: 0 2px 23px 0 v.$purple-light;
      transition: box-shadow 0.3s ease-in-out;

      .master-logo {
        display: none;
      }

    }

    #main-navbar {
      display: block;
      position: fixed;
      background-color: #ffffff;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 0;

      .navbar-start {
        padding: 1.5rem;
      }

      .navbar-menu {

        .navbar-start>.navbar-item,
        .navbar-start .navbar-link {
          margin-right: 0;
        }
      }


      .container {
        height: 100%;

        #main-navigation.navbar-menu {
          text-align: center;
          display: block;
          padding-top: 6rem;

          .navbar-start.is-hidden-mobile {
            display: block !important;
          }
        }
      }
    }
  }

  #main-navbar {
    .navbar-menu.is-active {
      background-color: v.$purple-light;
      padding-top: 5rem;
      max-height: none;
      position: absolute;
      // bottom:0;
      left: 0;
      right: 0;
      height: 100%;
    }

    .navbar-brand a#bt-navigation.is-active,
    .navbar-start>.navbar-item.is-active {
      background-color: #FFFFFF;
      color: v.$purple-heavy;
    }

    .navbar-brand a#bt-navigation.is-active:hover,
    .navbar-start>.navbar-item.is-active:hover {
      background-color: v.$purple-light;
    }

    .navbar-menu.is-active .navbar-start>a {
      display: block;
      text-align: left;
    }
  }
  .no-padding-right {
    padding-right: .75rem;
  }
  .column section.florent,
  .column section.oracle,
  .column section.oracle img {
    border-radius: 0;
  }

  section.article div.highlight .tabs-wrapper {
    .grid {
      display: block;
    }
  }

  section.article.respiration-holotropique .fixed-grid.has-2-cols .grid {
    --bulma-grid-column-count: 1;
  }

  section.respiration-holotropique {  
    .mini-menu {
      a {
        flex-direction: column;
  
        strong {
          width:100%;
        }
  
        span {
          width: 100%;
        }
      }
    }
  }

  .article .content h2:before {
    top: 1rem;
    left: 0;
    width: 7rem;
    height: 0.75rem;
  }
  .blog .content .summary-container.columns {
    margin-right:0;
  }
  
  #md-cookies {
   .modal-content {
      width:90%;
      margin-left: auto;
      margin-right: auto;
      padding: var(--bulma-block-spacing);
      .title {
        font-size:1.8rem;
      }
      .illustration {
        i.icon {
          font-size: 2.5rem;
        }
      }
    }
  }

  #md-prise-rdv {
    a.button.is-purple-bordered,
    div.fake-button {
      white-space: normal;
      height: auto;  
      display: block;
      transition: background-color .3s ease;
      padding: .75rem;
      text-align: left;
  
      .title {
        margin-top: 0;
        margin-bottom: 0.75rem; 
      }
  
      .details {
        display: block;

  
        .description {
          display: block;
          width: 100%;
          font-size: var(--bulma-size-7);
          color: v.$purple;
        }
        
        .tarif-duree {
          display: block;
          width: 100%;
          padding-left: 0;
          padding-top: .5rem;
          text-align: left;
  
          span.is-styled-tag {
            display: inline-block;
            margin: 0 .5rem 0 0;
          }
        }
      }
  
      span {
        display: block;
      }
    }
  
  }
  
  
  section.questionnaire-sante .columns.light-bg.field.is-horizontal .column.is-9 .grille-sante {
      
      tbody {
        display: grid; 
      }
      tr {
        display: contents;
      }
      td {
        display: block;
        border-bottom:0;
      }
      tr td + td {
        order: 0;
        border-bottom: 2px v.$purple-light solid; 
      }
  }
}

@include mixins.fullhd {

  // Styles applied
  // above v.$fullhd
  html {
    font-size: 19px;
  }
}

@include mixins.widescreen-only {

  // Styles applied
  // between v.$widescreen
  // and v.$fullhd
  html {
    font-size: 17px;
  }
}

@include mixins.desktop-only {

  // Styles applied
  // between v.$desktop
  // and v.$widescreen
  html {
    font-size: 16px;
  }

  section.article div.highlight .tile.is-half-desktop {
    width: 50%;
  }

  section.newsletter {
    button.is-purple-bordered {
      padding-top: 0.38rem;
      padding-bottom: 0.38rem;
    }
  }

  #main-navbar {
    padding: .43rem;
  }

  #main-navbar.is-fixed-top {
    padding: .43rem 1.33rem;
  }

  #main-navbar.is-fixed-top .container {
    padding-left: .43rem;
    padding-right: .43rem;
  }

  #main-navbar .navbar-menu .navbar-start>.navbar-item,
  #main-navbar .navbar-menu .navbar-start .navbar-link {
    margin-right: 0.43rem;
  }

  a.button.bt-evenements {
    margin-right: 0.43rem;
  }

  section.evenements {
    .liste-evenements {
      a.evenement {
        .date {
          width:25%;
        }
  
        .description {
          width:75%;
        }
      }
    }
    .is-styled-tag ~ .is-styled-tag {
      margin-top: .5rem;
    }
  }
  section.evenements.push-confirmation {
    .liste-evenements {
      a.evenement {
        .date {
          width:40%;
        }
  
        .description {
          width:60%;
        }
      }
    }
    .is-styled-tag ~ .is-styled-tag {
      margin-top: .5rem;
    }
  }
  .section.respiration-holotropique {
    .purple-border {
      padding-right:8rem;
      position:relative;
  
      span.banner-image-container {
        width: 8rem;
      }
    }
  }
  section.hypnotherapie {
    div.highlight {
      height: 18rem;
    }
  }
}

@include mixins.tablet-only {
  html {
    font-size: 16px;
  }

  .navbar-menu {
    display: flex;
    box-shadow: none;
  }

  .section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  body .section.article,
  body .section.article:first-of-type {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  section .main {
    padding: 0.75rem;
  }

  section.accroche .title {
    padding: 1rem 1.5rem;
  }

  section.newsletter {
    button.is-purple-bordered {
      padding-top: 0.38rem;
      padding-bottom: 0.38rem;
    }
  }

  .article .content h2:before {
    top: 1.5rem;
  }

  section.evenements {
    .liste-evenements {
      a.evenement {
        .date {
          width:34%;

          .jour {
            width:40%;
            font-size:2.5rem;
            line-height: 2.5rem;
          }
          .mois-annee {
            width:60%;
          }
        }
  
        .description {
          width:66%;
        }

        .description > .is-styled-tag {
          margin-top: 0;
        }
        .description > .is-styled-tag ~ .is-styled-tag{
          margin-top: 0.5rem;
        }
      }
    }
    .is-styled-tag ~ .is-styled-tag {
      margin-top: .5rem;
    }
  }
  .push-confirmation {
    section.evenements {
      .liste-evenements {
        a.evenement {
          .date {
            width:34%;
            display: flex;
  
            .jour {
              width:40%;
              font-size:2.5rem;
              line-height: 2.5rem;
              text-align: right;
            }
            .mois-annee {
              width:60%;
              padding-left: 0.5rem;
            }
          }
        }
      }
    }
  }
  

  .confirmation {
    .purple-border.with-push-confirmation {
      min-height:0;
    }
  }

  section.hypnotherapie {
    .column.action-prise-rdv {
      padding-bottom: 0;
    }
    
    div.highlight {
      height: 20rem;

      i.big-icon {
        align-items: center;
        height: 2.4rem;
        font-size: 2.4rem;
        margin-bottom: 0.75rem;
      }
      i.big-icon.icon-sablier {
        font-size: 2.2rem;
      }

      h4 {
        font-size: var(--bulma-size-6);
      }
    }
  }
  .temoignages.carousel-container {

    button.carousel-button.right {
      right: 30%;
    }
    button.carousel-button.left {
      left: 30%;
    }
  }
}

@include mixins.until(933px) {
  .master-logo .logo {
    width: 80px; /* Taille carrée personnalisable */
    height: 80px;
    object-fit: cover; /* Recadre l'image sans la déformer */
    // clip-path: inset(0); /* Facultatif : ajuste le cadrage */
    object-position: left center;
  }
}

@include mixins.mobile {

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .button {
    white-space: normal;
    height: auto;
  }

  .button.is-medium {
    font-size: var(--bulma-size-6);
  }

  i.big-icon {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }

  html {
    font-size: 16px;
  }

  .section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  body .section.article,
  body .section.article:first-of-type {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  section .main {
    padding: 0.75rem;
  }

  section.newsletter {
    .main {
      padding: 0rem;

      .has-text-right {
        text-align: left !important;
      }

      .columns:not(.has-text-right) {
        text-align: center;
      }

      i.icon {
        display: inline-block;
        padding: 0;
      }

      form .field.has-addons {
        display: block;

        .control {
          display: block;
          width: 100%;

          input.input.is-purple-bordered {
            border-radius: var(--bulma-radius-large);
            margin-bottom: var(--bulma-size-7);
            border: 2px v.$purple-light-border solid;
          }

          button.button {
            border-radius: var(--bulma-radius-large);
            margin-bottom: var(--bulma-size-7);
          }
        }
      }
    }
  }

  .article .citation.fat {
    font-size: var(--bulma-size-3);
    padding: 0;
  }

  .article .content h1 {
    font-size: var(--bulma-size-3);
  }

  .title.is-2,
  .article .content h2 {
    font-size: var(--bulma-size-4);
    font-weight: 300;
    line-height: 1.125;
  }

  .blog .content h3 {
    font-size: var(--bulma-size-5);
  }
  .blog .content .summary-container.columns {
    padding-right: 0;

    .column.is-5 {
      padding: 0;
      margin-left: var(--bulma-column-gap);
    }
    .column.is-7 {
      margin-left: var(--bulma-column-gap);
    }
  }

  section.accroche {
    padding-top: 0.5rem;

    .title {
      font-size: var(--bulma-size-4);
      padding: 0;
      font-family: 'Futura LT W05 Book', sans-serif;
      font-weight: 300;
    }
  }

  section.hypnotherapie.highlight {
    .has-text-centered {
      // text-align: left;

      .columns {
        margin: 0;
        margin-bottom: calc(1.5rem - .75rem);
        // text-align: left;

        .column {
          // text-align: left;
          padding: 0.25rem 0;
        }
        .column.action-prise-rdv {
          padding: 0.75rem 0 0 0;
        }
      }
    }

    div.highlight {
    // a.bt-highlight {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      padding: 0rem;
      height: 10rem;
      line-height: 1.5rem;

      i.big-icon {
        font-size: 2.5rem;
        padding-left: 0;
        // height: 7rem;
        margin-bottom: 0;

        flex: 0 0 23%; /* Prend 20% de la largeur */
        height: 100%; /* Prend toute la hauteur du parent */
        display: flex;
        align-items: center;
        justify-content: center; /* Centrer l'icône */
      }
      .text-content {
        flex: 0 0 77%; /* Prend 80% de la largeur */
        display: flex;
        flex-direction: column; /* Organise h4 et p en colonne */
      }
      h4 {
        width: 100%;
        font-size: var(--bulma-size-6);
      }

      p {
        width: 100%;
        font-size: var(--bulma-size-6);
      }

      
    }
  }

  section.article div.highlight {
    .title {
      font-size: var(--bulma-size-4);
    }

    .subtitle {
      font-size: var(--bulma-size-5);
    }

    .tabs ul li {

      a,
      a:hover,
      a.is-active,
      a.is-active:hover {
        text-decoration: underline;
      }

      a.is-active {
        background-color: transparent;
      }

      a.is-active:hover {
        background-color: rgba(0, 0, 0, 0.27);
      }

      a:before {
        content: '';
      }
    }

    .content-wrap {
      position: relative;
      padding: var(--bulma-size-3) var(--bulma-size-7) 4rem var(--bulma-size-7);

      #mobile-tabs-toggle {
        position: absolute;
        bottom: var(--bulma-size-7);
        left: var(--bulma-size-7);
        right: var(--bulma-size-7);
      }
    }
  }

  .temoignages.carousel-container {
    button.carousel-button {
      display: none;
    }
    .columns.carousel {
      transform: none !important;
    }
    .temoignage {
      display:none;
    }
    .temoignage.n-1,
    .temoignage.n-2,
    .temoignage.n-3 {
      display:block;
    }
  }

  section.florent {
    .content .ligne.adresse span.valeur {
      display: block;
      margin: 0;
    }
  }
  
  .blog .content .summary-container.columns {
    .purple-border,
    .column.is-7.purple-border {
      border: 2px v.$purple-light-border solid;
      border-top: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: var(--bulma-radius-large);
    }

    span.banner-image-container {
      height: 10em;

      img.banner {
        border-top-right-radius: var(--bulma-radius-large);
        border-bottom-left-radius: 0;
      }
    }
  }

  .blog .content .blog-row-container {
    .column.is-4 {
      padding-right: .75rem;
    }

    .column.is-8 {
      padding-left: .75rem;
    }

    .illustration a {
      span.banner-image-container {
        width: 100%;
        height: 10em;

        img.banner {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-right-radius: var(--bulma-radius-large);
          border-bottom-left-radius: 0;
        }
      }
    }

    .light-grey-bg {
      padding-top: 10em;
    }
  }

  section.evenements,
  .push-confirmation section.evenements {
    .liste-evenements {
      a:before {
        content: '\0042';
        position: absolute;
        color: #FFFFFF;
        right: 0.5rem;
        font-size: var(--bulma-size-7);
        top:0.8rem;
        bottom: auto;
        font-family: 'luminose';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      a.evenement {
        display: block;
        .date {
          padding: 0.5rem 0.75rem;
          display: block;
          width:100%;
          border-bottom-left-radius: 0;
          border-top-left-radius: var(--bulma-radius-large);
          border-top-right-radius: var(--bulma-radius-large);

          .jour {
            display: inline;
            text-align: left;
            font-size:inherit;
            line-height: inherit;
            padding-right:.25rem;
          }
          .mois-annee {
            padding-left: 0;
            display: inline;

            .annee {
              display: inline;
            }
          }
        }
  
        .description {
          display: block;
          width:100%;
          border-top: 0;
          border-left: 2px v.$purple-light-border solid;
          border-top-right-radius: 0;
          border-bottom-left-radius: var(--bulma-radius-large);
          border-bottom-right-radius: var(--bulma-radius-large);
        }

        .description > .is-styled-tag {
          margin-top: 0;
        }
        .description > .is-styled-tag ~ .is-styled-tag{
          margin-top: 0.5rem;
        }
      }
    }
    .is-styled-tag ~ .is-styled-tag {
      margin-top: .5rem;
    }
    .infos-pratiques.purple-border {
      padding:0;

      .columns {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-top:0;

        .column.is-4.is-3-widescreen {
         padding-bottom:0;
         font-weight: bold;
        }
        .column.is-8.is-9-widescreen {
          // border-bottom: 2px v.$purple-light-border solid;
        }
      }
      .columns:last-child {
        margin-bottom:0;
      }
    }
  }
  .confirmation {
    .purple-border.with-push-confirmation {
      min-height:0;
    }
  }

  .section.respiration-holotropique {
    .purple-border,
    .column.is-12 .purple-border {
      padding-right:var(--bulma-block-spacing);
      padding-top: 9rem;
      position:relative;
  
      span.banner-image-container {
        position:absolute;
        top:0;
        left:0;
        height: 8rem;
        width: 100%;
  
        img.banner {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-right-radius: var(--bulma-radius-large);
          border-bottom-right-radius: 0;
          border-top-left-radius: var(--bulma-radius-large);
        }
      }
    }
  }

}