@use "ui-variables" as v;

body,
body * {
  letter-spacing: 0.02em;
}

strong {
  font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
}

body .section.article {
  padding: 3rem 0 3rem 0;
}

body .section.article:first-of-type {
  padding: 1rem 0 3rem 0;
}

.no-padding-right {
  padding-right: 0;
}

.tag.is-warning.is-light {
  background-color: v.$warning-tag-background;
  color: v.$warning-tag-color;
}

.article .content h1 {
  font-size: var(--bulma-size-1);
  color: v.$purple;
}

.article .content a:not(.button):not(.tag) {
  text-decoration: underline;
  color: inherit;
  background: transparent;
}

.article .content a:hover:not(.button):not(.tag) {
  text-decoration: underline;
  color: inherit;
  background: v.$purple-light;
}

.article .content .highlight a:hover:not(.button) {
  text-decoration: underline;
  color: inherit;
  background: v.$purple-heavy;
}

.title.is-2,
.article .content h2 {
  color: v.$purple;
  font-size: var(--bulma-size-3);
  font-family: "Abril Display W05 Italic", serif;
  font-weight: 300;
  position: relative;
}

.article .content h2:before {
  content: "";
  display: block;
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 7rem;
  height: 0.75rem;
  background: v.$green-light;
  z-index: -1;
  transform: rotate(-3deg);
}

.title.is-3,
.article .content h3 {
  font-family: 'Futura LT W05 Book', sans-serif;
  font-weight: 300;
  font-size: var(--bulma-size-6);
  color: v.$purple;
  text-transform: uppercase;
}

.article .tag.is-white {
  color: v.$purple;
  font-family: "Futura LT W05 Medium", "Futura LT W05 Book", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.article .citation.fat {
  background: transparent;
  border: 0;
  text-align: center;
  color: v.$purple-heavy;
  font-size: var(--bulma-size-1);
  font-family: "Abril Display W05 Italic", serif;
  font-weight: 300;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.border-top-white {
  border-top: 2px #ffffff solid;
}

img.fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article .achat {
  margin-top: var(--bulma-block-spacing);
  margin-bottom: var(--bulma-block-spacing);

  .infos {
    display: inline-block;
    vertical-align: top;
    margin-bottom: var(--bulma-size-7);

    .ligne {
      font-size: var(--bulma-size-5);
      margin-right: 2em;

      span.nom {
        line-height: 2.5em;
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        margin-right: 1em;
      }

      span.valeur {
        display: inline-block;
        border-radius: var(--bulma-radius-large);
        background-color: v.$purple-light;
        padding: 1em;
        padding-bottom: calc(0.5em - 1px);
        padding-top: calc(0.5em - 1px);
        height: 2.5em;
        margin-right: 0.3em;
      }

      span.taxe {
        display: inline-block;
        font-size: var(--bulma-size-7);
      }
    }
  }

  .actions {
    display: inline-block;

    a {
      display: block;
      margin-bottom: 0.75rem;
    }
  }
}

.block:not(:last-child) {
  margin-bottom: var(--bulma-block-spacing);
}

.citation {
  border: 2px var(--bulma-grey-lighter) solid;
  background: var(--bulma-white-ter);
  font-style: italic;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
  color: var(--bulma-grey);
  margin-bottom: var(--bulma-block-spacing);

  strong {
    color: var(--bulma-grey)-darker;
  }
}

.confinement {
  color: #515151;
  padding: 0rem var(--bulma-block-spacing) 0rem var(--bulma-block-spacing);
}

.confinement .container {
  border: 2px #DBFED2 solid;
  border-radius: var(--bulma-radius-large);
  padding: var(--bulma-block-spacing);
}

.confinement strong {
  border-radius: var(--bulma-radius-large);
  background-color: #DBFED2;
  align-items: center;
  color: #277215;
  display: inline-flex;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  font-weight: normal;
}

[data-tooltip]:not(.is-disabled).has-tooltip-primary:before,
[data-tooltip]:not(.is-loading).has-tooltip-primary:before,
[data-tooltip]:not([disabled]).has-tooltip-primary:before,
[data-tooltip]:not(.is-disabled).has-tooltip-primary.has-tooltip-right:after,
[data-tooltip]:not(.is-loading).has-tooltip-primary.has-tooltip-right:after,
[data-tooltip]:not([disabled]).has-tooltip-primary.has-tooltip-right:after {
  background-color: v.$grey-light;
  color: v.$purple-heavy;
}

span[data-tooltip].has-tooltip-primary {
  border-bottom-color: v.$purple;
}

[data-tooltip]:not(.is-disabled).has-tooltip-primary:after,
[data-tooltip]:not(.is-loading).has-tooltip-primary:after,
[data-tooltip]:not([disabled]).has-tooltip-primary:after {
  border-color: v.$grey-light transparent transparent !important;
}

.light-red-bg {
  background-color: #ffd6d4;
  color: #804d4b;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
  letter-spacing: 0;
}

.light-red-bg .title,
.article .content .light-red-bg h3 {
  color: #804d4b;
}

.light-green-bg {
  background-color: v.$green-light;
  color: v.$green-heavy;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
  letter-spacing: 0;
}

.light-green-bg .title,
.article .content .light-green-bg h3 {
  color: #335b3e;
}

.light-grey-bg {
  text-align: center;
  background-color: v.$grey-light;
  color: v.$purple-heavy;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
  letter-spacing: 0;

  .title {
    font-family: 'Futura LT W05 Book', sans-serif;
    font-size: var(--bulma-size-4);
    text-transform: uppercase;

  }
}

.white-bg {
  background-color: #FFFFFF;
  padding: .75rem;
  border-radius: var(--bulma-radius-large);
  color: v.$purple;
}

.light-bg {
  background-color: v.$purple-light;
  color: v.$purple-heavy;
}

.light-bg .title,
.light-bg .subtitle,
.content .light-bg h2,
.content .light-bg h3 {
  color: v.$purple-heavy;
}

.content .light-bg {
  color: v.$purple-heavy;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
}

.content .light-bg:not(:last-child) {
  margin-bottom: var(--bulma-content-block-margin-bottom);
}

.right-column {
  margin-top: var(--bulma-block-spacing);
}

table.is-purple-bordered.is-bordered {

  th,
  thead td,
  thead th {
    color: #ffffff;
    background: v.$purple-heavy;
  }

  td,
  th,
  tr:last-child td,
  tr:last-child th {
    border-color: v.$purple-heavy-border;
    border-width: 2px;
  }
  
}

.blog .content {
  figure {
    margin-left: 0;
    margin-right: 0;
    text-align: left;

    figcaption {
      text-align: center;
    }
  }

  .liens-partager {
    margin-bottom: var(--bulma-block-spacing);
  }

  .light-bg,
  .light-green-bg,
  .light-red-bg {
    margin-bottom: var(--bulma-block-spacing);

    h3 {
      text-align: center;
    }

    h3:not(:first-child) {
      margin-top: 0.3333em;
    }
  }

  h3 {
    font-size: 1.7rem; //var(--bulma-size-4);
    font-weight: 700;
    font-family: v.$family-serif;
    text-transform: none;
  }

  h4 {
    font-size: 1.3rem; //var(--bulma-size-6);
    color: v.$purple-heavy;
  }

  h4:not(:first-child) {
    margin-top: 1.3333em;
  }

  .highlight {
    margin-bottom: var(--bulma-block-spacing);

    h4 {
      color: #ffffff;
    }
  }

  .fiche-methodologique {
    margin-bottom: var(--bulma-block-spacing);
    border: 2px v.$purple-heavy-border solid;
    background-color: v.$purple-heavy;
    color: #ffffff;
    padding: var(--bulma-block-spacing);
    border-radius: var(--bulma-radius-large);

    .tabs.is-toggle.is-toggle-rounded {
      a {
        text-decoration: none;
        border: 0;
        color: v.$purple-heavy;
        background: #ffffff;
      }

      a.is-active {
        color: #ffffff;
        border: 0;
        background-color: rgba(0, 0, 0, 0.27);
      }

      a:hover {
        color: #ffffff;
        background: v.$purple-heavy;
      }
    }

    .content-wrap {
      // margin-left: var(--bulma-block-spacing);
      padding: var(--bulma-block-spacing);
      padding-top: var(--bulma-size-3);
      color: v.$purple;
      background: #FFFFFF;
      border-radius: var(--bulma-radius-large);
      display: block;
      width: 100%;
      // display: flex;
      // flex-grow: 1;

      .tab-content {
        display: none;

        &.is-active {
          display: block;
          width: 100%;
        }

        .title {
          color: v.$purple;
          text-align: center;
          font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
          font-weight: 600;
          font-size: var(--bulma-size-6);
        }

      }
    }
  }

  .illustration {
    text-align: center;
    padding-top: 1em;

    i.icon {
      font-size: 4rem;
    }
  }

  h3.sub-section-title {
    font-family: v.$family-sans-serif;
  }

  .blog-row-container {
    position: relative;

    h2 {
      font-size: var(--bulma-size-3);
      position: static;
    }

    h2:before {
      display: none;
    }

    .column.is-4 {
      padding-right: 0;
    }

    .column.is-8 {
      padding-left: 0;
    }

    .light-grey-bg {
      border-radius: 0;
      border-top-right-radius: var(--bulma-radius-large);
      border-bottom-right-radius: var(--bulma-radius-large);
    }

    .illustration {
      height: 100%;
      padding: 0;

      a {
        position: absolute;
        left: 0.75rem;
        right: 0.75rem;
        top: 0.75rem;
        bottom: 0.75rem;

        span.banner-image-container {
          height: 100%;
          display: block;
          width: 33%;

          img.banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: var(--bulma-radius-large);
            border-bottom-left-radius: var(--bulma-radius-large);
          }
        }
      }

      a:hover:not(.button):not(.tag) {
        background: transparent;

      }
    }
  }

  .blog-card-container {
    position: relative;

    h2 {
      font-size: var(--bulma-size-3);
      position: static;
    }

    h2:before {
      display: none;
    }

    .button.is-purple-bordered {
      white-space: normal;
      height: auto;
    }

    .illustration {
      text-align: center;

      a {
        position: absolute;
        left: 0.75rem;
        right: 0.75rem;
        top: 0.75rem;
        bottom: 0.75rem;

        span.banner-image-container {
          height: 10em;
          display: block;
          width: 100%;

          img.banner {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: var(--bulma-radius-large);
            border-top-right-radius: var(--bulma-radius-large);
          }
        }
      }

      a:hover:not(.button):not(.tag) {
        background: transparent;

      }
    }

    .light-grey-bg {
      padding-top: 11em;
      border-radius: 0;
      border-bottom-left-radius: var(--bulma-radius-large);
      border-bottom-right-radius: var(--bulma-radius-large);
    }
  }

  .summary-container.columns {
    padding-right: 0.75rem;

    .column.is-5 {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
    .column.is-7.purple-border {
      padding: var(--bulma-block-spacing);
      
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    span.banner-image-container {
      line-height: 0;
      display: block;
      height: 100%;
      width: 100%;

      img.banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: var(--bulma-radius-large);
        border-bottom-left-radius: var(--bulma-radius-large);
      }
    }

    
  }
}

// END - .blog .content

.blog .temoignages {
  padding-top: var(--bulma-block-spacing);

  h3 {
    margin-bottom: var(--bulma-block-spacing);
  }

  .temoignage {

    .metadata-container {
      padding: .75rem;

      small {
        color: v.$purple;
        font-size: var(--bulma-size-7);
      }
    }

    .texte {
      font-family: "Abril Display W05 Italic", serif;
      font-weight: 300;
    }
  }

  .light-bg {
    color: v.$purple-heavy;
    padding: var(--bulma-block-spacing);
    border-radius: var(--bulma-radius-large);

    h3 {
      font-size: 1.7rem; //var(--bulma-size-4);
      font-weight: 700;
      font-family: v.$family-serif;
      text-transform: none;
      text-align: center;
    }

    h3:not(:first-child) {
      margin-top: 0.3333em;
    }
  }

  .illustration {
    text-align: center;
    padding-top: 1em;

    i.icon {
      font-size: 4rem;
    }
  }
}

p.with-text-icon i.icon {
  vertical-align: bottom;
}

.purple-border {
  border: 2px v.$purple-light-border solid;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
}

.heavy-purple-border {
  border: 2px v.$purple-heavy-border solid;
  padding: var(--bulma-block-spacing);
  border-radius: var(--bulma-radius-large);
}

.is-styled-tag {
  display: inline-block;
  border-radius: var(--bulma-radius-large);
  background-color: v.$purple-light;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5em;
}

.tile.is-ancestor .tile:first-of-type {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tile.is-ancestor .tile:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

i.big-icon {
  font-size: 10rem;
}

h1 {
  margin-bottom: 2em;
}

hr {
  margin: 0;
  display: block;
  border: 0px;
  height: calc(62px + 4rem);
  border-top: 2rem transparent solid;
  border-bottom: 2rem transparent solid;
  background-color: transparent;
  background-image: url('/images/hr.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

hr.light-bg {
  background-color: v.$purple-light;
  border-bottom: 3rem v.$purple-light solid;
  background-image: url('/images/hr-heavy.png');
}

footer.footer {
  padding-bottom: 6rem;
}

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

//********************************************/
//***************** Buttons *****************/
//********************************************/
.button {
  border-radius: var(--bulma-radius-large);
}

.liens-partager .field.has-addons .control:not(:first-child):not(:last-child) .button,
.liens-partager .field.has-addons .control:last-child:not(:only-child) .button {
  border-radius: var(--bulma-radius-large);
}

a.button.is-primary {
  //margin-bottom:0.5em;
  background: v.$purple;
  transition: background-color 0.3s ease;
}

#main-navbar .navbar-start>.navbar-item.button.is-primary {
  color: #ffffff;
}

#secondary-navbar .navbar-end>.navbar-item {
  color: v.$purple;
}

a.button.bt-evenements {
  margin-right: 0.75rem;
}

#secondary-navbar a.button.bt-evenements {
  margin-right: 0.25rem;
}
a.button.bt-evenements.is-active {
  // border: 2px v.$purple solid;
  // background: v.$purple-light;
  // box-shadow: 0 0.7em 2em 0 v.$green-light;
}

a.button.is-primary:hover {
  background: v.$purple-heavy;
}

a.button.is-white {
  background: #ffffff;
  color: v.$purple-heavy;
  transition: background-color 0.3s ease;
}

a.button.is-white:hover,
button.button.is-white:hover {
  background: v.$purple-light;
  color: v.$purple-heavy;
}

a.button.is-purple-bordered,
button.button.is-purple-bordered,
input.is-purple-bordered,
select.is-purple-bordered,
textarea.is-purple-bordered,
a.button.is-purple-bordered:hover,
button.button.is-purple-bordered:hover,
input.is-purple-bordered:hover,
select.is-purple-bordered:hover,
textarea.is-purple-bordered:hover, {
  color: v.$purple-heavy;
  border: 2px v.$purple-light-border solid;
  box-shadow: none;
}

input.is-purple-bordered:hover,
select.is-purple-bordered:hover,
textarea.is-purple-bordered:hover, {
  border: 2px v.$purple-heavy-border solid;
}

input.is-purple-bordered.is-danger,
select.is-purple-bordered.is-danger,
textarea.is-purple-bordered.is-danger {
  border: 2px var(--bulma-danger) solid;
}

input.is-purple-bordered.is-success,
select.is-purple-bordered.is-success,
textarea.is-purple-bordered.is-success {
  border: 2px var(--bulma-success) solid;
}

.is-checkradio.is-danger[type=checkbox]+label::before, 
.is-checkradio.is-danger[type=checkbox]+label:before, 
.is-checkradio.is-danger[type=radio]+label::before, 
.is-checkradio.is-danger[type=radio]+label:before {
  border: 2px var(--bulma-danger) solid;
}


.field.has-addons .control:last-child:not(:only-child) .button.is-purple-bordered {
  // border-left:2px;
}

.liens-partager .button.is-static {
  background-color: transparent;
  border: 0;
  color: v.$purple;
  padding-left: 0;
}

//********************************************/
//***************** Navigation *****************/
//********************************************/
.section.header {
  padding: 0;
}

body.has-navbar-fixed-top {
  .section.header {
    padding-bottom: 1rem;
  }
}

body.has-relative-navbar-fixed-top {
  .section.header {
    padding-bottom: 5.14rem;
  }
}

#secondary-navbar {
  padding-top: 1rem;
  padding-bottom: 0.25rem;

  .navbar-end {

    .navbar-item {
      border-radius: var(--bulma-radius-large);
      margin: 1.25rem 0 1.25rem 0.25rem;
    }

    .navbar-item.is-active {
      background-color: v.$purple-light;
      color: v.$purple-heavy;
    }
  }
}

#main-navbar {
  min-height: 0;
  background-color: v.$purple-light;
  border-radius: var(--bulma-radius-large);
  padding: 0.75rem;
  //margin-bottom: var(--bulma-block-spacing);

  .container {
    min-height: 0;

    .navbar-brand.mobile-navbar-brand {
      display: block;

      .navbar-item.button {
        display: inline-block;
      }
    }
  }

  .navbar-menu {

    .navbar-start a.button {
      margin: 0;
    }

    .navbar-start>.navbar-item,
    .navbar-start .navbar-link {
      display: inline-block;
      border-radius: var(--bulma-radius-large);
      color: v.$purple-heavy;
      margin-right: 0.75rem;
    }

    .navbar-start>a.navbar-item:hover {
      background-color: #FFFFFF;
    }

    .navbar-start>.navbar-item.is-active {
      border-radius: var(--bulma-radius-large);
      background-color: #FFFFFF;
      color: v.$purple-heavy;
    }

    .navbar-end a.button.is-primary {
      margin-bottom: 0;
      color: #FFFFFF;
    }

  }
}

#main-navbar.is-fixed-top {
  background-color: #ffffff;
  box-shadow: 0 2px 23px 0 v.$purple-light;
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0;
  padding-left: 1.33rem;
  padding-right: 1.33rem;
  z-index: 31;

  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .navbar-brand .master-logo {
    display: none;
  }

  .navbar-start>.navbar-item.is-active {
    background-color: v.$purple-light;
    color: v.$purple-heavy;
  }

  .navbar-start>a.navbar-item:hover {
    background-color: #FAFAFA;
  }
}

#relative-navbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #FFFFFF;
  height: 4rem;

  .navbar-start>.navbar-item,
  .navbar-start .navbar-link {
    display: inline-block;
    //box-shadow: inset 0px 0px 0px 2px v.$green-light;
    //box-sizing: border-box;
    //-moz-box-sizing: border-box;
    //-webkit-box-sizing: border-box;
    color: v.$green-heavy;
    margin-right: 0;
    border-top: 2px v.$green-light solid;
    border-bottom: 2px v.$green-light solid;
  }

  .navbar-start>a.navbar-item:hover {
    background-color: v.$green-light;
  }

  .navbar-start>.navbar-item.is-active,
  .navbar-start>.navbar-item.is-active:hover {
    background-color: v.$green-light;
    color: v.$green-heavy;
  }

  .navbar-start>.navbar-item:first-of-type {
    border-top-left-radius: var(--bulma-radius-large);
    border-bottom-left-radius: var(--bulma-radius-large);
    border-left: 2px v.$green-light solid;
  }

  .navbar-start>.navbar-item:last-of-type {
    border-top-right-radius: var(--bulma-radius-large);
    border-bottom-right-radius: var(--bulma-radius-large);
    border-right: 2px v.$green-light solid;
  }
}

#relative-navbar.is-fixed-top {
  background-color: #ffffff;
  border-radius: 0;
  padding-left: 1.33rem;
  padding-right: 1.33rem;
  box-shadow: 0 2px 23px 0 v.$grey-light;
  transition: box-shadow 0.3s ease-in-out;
}

@media screen and (min-width: 769px) {
  #secondary-navbar.navbar {
    align-items: stretch;
    display: flex;
  }

  #main-navbar .navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
  }

  #secondary-navbar .navbar-start,
  #main-navbar .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    align-items: stretch;
    display: flex;
  }

  #secondary-navbar .navbar-end,
  #main-navbar .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    align-items: stretch;
    display: flex;
  }

  #secondary-navbar .navbar-item,
  #main-navbar .navbar-item {
    align-items: center;
    display: flex;
  }

}

@media screen and (min-width: 1024px) {
  #main-navbar.navbar {
    flex-direction: column;
  }

  .navbar>.container .navbar-brand,
  .container>.navbar .navbar-brand,
  .navbar>.container .navbar-menu,
  .container>.navbar .navbar-menu {
    margin-left: 0;
    margin-right: 0;
  }

  #relative-navbar.navbar,
  #relative-navbar.navbar>.container {
    min-height: 0;
  }

}

@media screen and (max-width: 1023px) {
  #secondary-navbar {
    margin: 0 1rem;
  }

  #main-navbar {
    border-radius: 0;
    padding-left: 1.33rem;
    padding-right: 1.33rem;

    .navbar-menu {
      background-color: transparent;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      padding: 0;
    }
  }

  #main-navbar.is-fixed-top {
    .container {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }

  #relative-navbar.navbar>.container {
    min-height: 0;
    padding: 0;

    .navbar-menu {
      padding: 0;
    }
  }

  #relative-navbar {
    min-height: 0;
    padding-left: 1.33rem;
    padding-right: 1.33rem;
  }
}

//********************************************/
//***************** Ancien emplacement du Mixin Mobile **/
//********************************************/


//********************************************/
//***************** Modules bandeaux *****************/
//********************************************/
section .main {
  padding: 1rem;
}

section.accroche {
  .title {
    padding: 1rem 8rem;
  }
}

section.highlight,
section.article div.highlight {
  background-image: linear-gradient(135deg, v.$purple, v.$purple-heavy);
  color: #ffffff;
}

section.highlight i.icon,
section.article div.highlight i.big-icon,
section.highlight strong,
section.article div.highlight strong {
  color: #ffffff;
}

section.hypnotherapie {
  .is-2 {
    color: #FFFFFF;
  }

  .columns {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }

  a.bt-highlight {
    background-color: rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    border-radius: var(--bulma-radius-large);
    padding: 1rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: background-color 0.3s ease;

    i.big-icon {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    span {
      font-size: var(--bulma-size-5);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    strong {
      font-size: var(--bulma-size-3);
    }
  }

  a.bt-highlight:hover {
    background-color: rgba(0, 0, 0, 0.30);
  }
}


section.article div.highlight {
  border-radius: var(--bulma-radius-large);
  padding: var(--bulma-block-spacing);

  .title,
  .subtitle {
    color: #ffffff;
    text-align: center;
  }

  .title {
    font-family: 'Futura LT W05 Book', sans-serif;
    font-size: var(--bulma-size-3);
    text-transform: uppercase;
    margin-top: var(--bulma-block-spacing);
    margin-bottom: 1em;
  }

  .subtitle {
    font-family: "Abril Display W05 Italic", serif;
    font-weight: 300;
    font-size: var(--bulma-size-4);
  }

  .tabs {
    display: block;
    width: 100%;
    margin-right: var(--bulma-size-7);

    ul {
      margin: 0;
      padding: 0.5rem;
      display: block;
      border-radius: var(--bulma-radius-large);
      background-color: rgba(0, 0, 0, 0.12);
      text-align: left;
      border-bottom-color: transparent !important;

      li {
        display: block;

        a:not(.button):not(.tag) {
          border: none;
          margin: 0 0 2px 0;
          color: #ffffff;
          display: block;
          position: relative;
          text-decoration: none;
          background: transparent;
          padding: 0.5em 2rem 0.5em 0.5em;
        }

        a.is-active:not(.button):not(.tag),
        a:hover:not(.button):not(.tag) {
          text-decoration: none;
          border-radius: var(--bulma-radius-large);
          background-color: rgba(0, 0, 0, 0.27);
        }

        a:before {
          content: '\0042';
          position: absolute;
          right: 0.5rem;
          font-size: var(--bulma-size-7);
          padding-top: 0.4rem;
          font-family: 'luminose';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }

    ul:not(:last-child) {
      margin-bottom: var(--bulma-block-spacing);
    }
  }

  .content-wrap {
    // margin-left: var(--bulma-block-spacing);
    padding: var(--bulma-block-spacing);
    padding-top: var(--bulma-size-3);
    color: v.$purple;
    background: #FFFFFF;
    border-radius: var(--bulma-radius-large);
    display: block;
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-grow: 1;

    .tab-content {
      display: none;

      &.is-active {
        display: block;
        width: 100%;
      }

      .title {
        color: v.$purple;
        text-align: center;
        font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
        font-weight: 600;
        font-size: var(--bulma-size-6);
      }

      .subtitle {
        margin-top: 6rem;
        color: v.$purple;
        // text-align: left;
        font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
        font-weight: 600;
        font-size: var(--bulma-size-6);
        text-transform: uppercase;
        text-align: left;
        margin-left: 1.2em;
        margin-bottom: 0;
      }

      a:hover {
        background-color: v.$purple-light;
      }

      .illustration {
        text-align: center;

        i.icon {
          font-size: 4rem;
        }
      }
    }
  }
}

body .section.article.evenements:first-of-type {
  padding-bottom:0;
}
section.evenements {
  .infos-pratiques {
    .is-styled-tag {
      margin-left: 0;
    }
  }
  

  .liste-evenements {
    a:before {
      content: '\0042';
      display: flex;
      align-items: center;
      position: absolute;
      right: 0.5rem;
      font-size: var(--bulma-size-7);
      top:0;
      bottom:0;
      font-family: 'luminose';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    a:not(.button):not(.tag),
    a:hover:not(.button):not(.tag) {
      text-decoration: none;
    }

    a.evenement {
      position: relative;
      display: flex;
      margin-bottom: 0.75rem;
      
      .date {
        display: flex;
        align-items: center;
        width:22%;
        color: #ffffff;
        padding: 0.5rem;
        border-top-left-radius: var(--bulma-radius-large);
        border-bottom-left-radius: var(--bulma-radius-large);

        .jour {
          width:40%;
          font-size:3rem;
          line-height: 3rem;
          text-align: right;
        }
        .mois-annee {
          width:60%;
          padding-left: 0.5rem;

          .annee {
            display: block;
          }
        }
      }

      .description {
        width:78%;
        padding: 0.5rem 0.75rem;
        border: 2px v.$purple-light-border solid;
        border-left: 0;
        border-top-right-radius: var(--bulma-radius-large);
        border-bottom-right-radius: var(--bulma-radius-large);
        
        .nom {
          display: block;
          padding-bottom: .5rem;
          font-family: "Abril Display W05 Italic", serif;
          font-weight: 300;
        }
      }
      .description > .is-styled-tag {
        font-size: var(--bulma-small-font-size);
        margin-left: 0;
        transition: background-color .3s ease;
      }

    }
  }
  .category {
    display: inline-block;
    border-radius: var(--bulma-radius-large);
    padding: 0.2rem 0.5rem;
    margin: 0 0.5em 0 0;
    color:#ffffff;
  }

  a.evenement-meditation .date,
  .category.category-meditation  {
    background-image: linear-gradient(135deg, #50D05F, #BDB722);
  }
  a.evenement-hypnose .date,
  .category.category-hypnose {
    background-image: linear-gradient(135deg, #D0AA50, #BD2222);
  }
  a.evenement-respiration-holotropique .date,
  .category.category-respiration-holotropique {
    background-image: linear-gradient(135deg, #6CC0F4, #E57FE0);
  }
  a.evenement:hover .description > .is-styled-tag {
    background-color: #FFFFFF;
    transition: background-color .3s ease;
  }

  .is-styled-tag {
    margin-top: 0;
  }
}

section.respiration-holotropique {

  .grid .highlight {
    .title {
      text-align: center;
      font-family: 'Futura LT W05 Medium', 'Futura LT W05 Book', sans-serif;
      font-weight: 600;
      font-size: var(--bulma-size-6);
      margin: 1rem 0;
    }

    .illustration {
      margin-top: 1rem;
      text-align: center;

      i.icon {
        font-size: 4rem;
      }
    }
  }

  .mini-menu {
    margin-bottom: var(--bulma-content-block-margin-bottom);
    
    a:before {
      content: '\0042';
      position: absolute;
      display: flex;
      align-items: center;
      right: 0.5rem;
      top:0;
      bottom:0;
      font-size: var(--bulma-size-7);
      font-family: 'luminose';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    a:not(.button):not(.tag),
    a:hover:not(.button):not(.tag) {
      text-decoration: none;
    }

    a:first-of-type {
      border-top-left-radius: var(--bulma-radius-large);
      border-top-right-radius: var(--bulma-radius-large);
    }

    a:last-of-type {
      border-bottom: 2px v.$purple-light-border solid;
      border-bottom-left-radius: var(--bulma-radius-large);
      border-bottom-right-radius: var(--bulma-radius-large);
    }

    a {
      position: relative;
      border: 2px v.$purple-light-border solid;
      border-bottom: 0;
      padding: 0.75rem var(--bulma-block-spacing);
      display: flex;
      align-items: center;

      strong {
        width: 22%;
      }

      span {
        width: 70%;
      }
    }

  }
}




section.oracle {
  color: v.$purple-heavy;

  background-attachment: fixed;
  background-image: url("/images/interface/pattern-oracle-light.jpg");
  background-image:
    -webkit-image-set(url("/images/interface/pattern-oracle-light.jpg") 1x,
      url("/images/interface/pattern-oracle-light@2x.jpg") 2x,
    );
  background-image:
    image-set(url("/images/interface/pattern-oracle-light.jpg") 1x,
      url("/images/interface/pattern-oracle-light@2x.jpg") 2x,
    );

  .title,
  .subtitle {
    color: v.$purple-heavy;
  }
}

.column section.oracle {
  color: v.$purple-heavy;

  border-radius: var(--bulma-radius-large);
  margin-bottom: var(--bulma-block-spacing);
  padding: 0;

  .title,
  .subtitle {
    color: v.$purple-heavy;
  }

  img {
    border-top-left-radius: var(--bulma-radius-large);
    border-top-right-radius: var(--bulma-radius-large);
  }

  .container {
    padding: 1rem;
  }
}



section.florent {
  background: v.$purple-light;
  background-attachment: fixed;
  background-image: url("/images/interface/pattern-seigaiha-light.jpg");
  background-image:
    -webkit-image-set(url("/images/interface/pattern-seigaiha-light.jpg") 1x,
      url("/images/interface/pattern-seigaiha-light@2x.jpg") 2x,
    );
  background-image:
    image-set(url("/images/interface/pattern-seigaiha-light.jpg") 1x,
      url("/images/interface/pattern-seigaiha-light@2x.jpg") 2x,
    );
}

.column section.florent {
  border-radius: var(--bulma-radius-large);
  margin-bottom: var(--bulma-block-spacing);
  padding: 1rem;

  .button.is-primary {
    margin-bottom: var(--bulma-block-spacing);
  }

  .nom {
    display: block;
    text-transform: uppercase;
  }

  .adresse {
    display: block;
  }

  .valeur {
    margin-left: auto;
    margin-right: auto;
  }
}

section.florent .container {
  border: 2px v.$purple-light-border solid;
  border-radius: var(--bulma-radius-large);
  background-color: var(--bulma-white);
}

section.florent .button.is-primary {
  margin-bottom: 0;
}

section.florent .content .ligne span {
  display: inline-block;
}

section.florent .content .ligne span.nom {
  width: 4rem;
  vertical-align: top;
  text-transform: uppercase;
}

section.florent h2.title.is-2.person {
  font-family: v.$family-sans-serif;
  color: v.$purple;
}

section.florent h3.subtitle.is-3.job {
  font-family: v.$family-serif;
  color: v.$purple;
  text-transform: none;
}

.infos-seance .ligne span.nom {
  display: inline-block;
  width: 11rem;
  vertical-align: middle;
}

.tarifs-seances {
  .purple-border.infos-seance {
    margin-bottom: var(--bulma-content-block-margin-bottom);

    .nom {
      font-weight: 600;
    }

    .is-styled-tag {
      margin-left: 0;
    }

    .description {
      background-color: v.$purple-light;
      font-size: var(--bulma-small-font-size);
      margin: 0 -1.5rem -1.5rem -1.5rem; // --bulma-block-spacing
      padding: var(--bulma-block-spacing);
      border-bottom-left-radius: var(--bulma-radius-large);
      border-bottom-right-radius: var(--bulma-radius-large);
    }
  }

}


section.questionnaire-sante {
  
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  
  .is-checkradio[type=checkbox]+label {
    display: inline-block;
    padding: 0 0 0 2rem;
    margin: 0;
  }
  .columns.boutons {
    margin: var(--bulma-content-block-margin-bottom) 0 0 0;
    padding: var(--bulma-block-spacing);
  }
  .columns.light-bg.field.is-horizontal {
    margin: var(--bulma-content-block-margin-bottom) 0;
    
    .label {
      color: v.$purple;
      font-size: var(--bulma-size-4);
      font-family: "Abril Display W05 Italic", serif;
      font-weight: 300;
    }
    
    .column.is-9 {
      
      .field-body {
        margin-bottom: var(--bulma-content-block-margin-bottom);
      }

      .grille-sante {
        background-color: #FFFFFF;
        border-radius: var(--bulma-radius-large);
        
        td.no-wrap {
          white-space: nowrap;
        }
        td {
          vertical-align:middle;
          padding: 0.75rem;
          border-bottom: 2px v.$purple-light solid;         
        }
        tr:last-child td {
          border-bottom:0;
        }
      }  
    }
  }
  
  
}

section.newsletter {
  border-bottom: 0.7rem v.$green-light solid;
  border-image: linear-gradient(150deg, rgba(180, 255, 200, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border-image-slice: 1;

  input.input.is-purple-bordered {
    border-right: 0;
  }

  button.is-purple-bordered {
    padding-top: 0.41rem;
    padding-bottom: 0.41rem;
  }

  i.icon {
    padding-left: 6rem;
  }
}

//********************************************/
//***************** Confirmations *****************/
//********************************************/
.confirmation {
  .content {
    margin-top: var(--bulma-block-spacing);
  }

  .purple-border h1 {
    font-family: v.$family-serif;
    font-weight: normal;
    font-size: var(--bulma-size-3);
  }

  .columns.light-bg {
    padding: 0.75rem;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .column {
      font-size: var(--bulma-size-7);
    }
  }

  .columns.is-gapless:not(:last-child),
  .columns.is-gapless:last-child {
    margin: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .purple-border {
    padding: 0;
  }

  .block {
    padding: var(--bulma-block-spacing);
  }

  .illustration {
    text-align: center;
    padding-top: 3em;

    i.icon {
      font-size: 6rem;
    }

    i.icon.icon-confirmation {
      color: #39B66B;
    }
  }
}

//********************************************/
//***************** Paiement *****************/
//********************************************/
.paiement .box.main {
  padding: 5em;
}

.paiement .box.main .control.amount-input {
  width: 120px;
  display: inline-block;
}

.paiement .box.main .control.submit {
  display: inline-block;
}

.paiement .box.main .control.amount-input input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.paiement .box.main .control.submit button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, .2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px
}

.delete::after,
.delete::before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center
}

.delete::before {
  height: 2px;
  width: 50%
}

.delete::after {
  height: 50%;
  width: 2px
}

.delete:focus,
.delete:hover {
  background-color: rgba(10, 10, 10, .3)
}

.delete:active {
  background-color: rgba(10, 10, 10, .4)
}

//********************************************/
//************** Modal *****************/
//********************************************/
#md-cookies {
  .modal-background {
    background-color: rgba(255, 255, 255, .8)
  }
  .modal-content {
    width:32rem;
    background-image: linear-gradient(135deg, v.$purple, v.$purple-heavy);
    color: #ffffff;
    border-radius: var(--bulma-radius-large);
    padding: calc(2* var(--bulma-block-spacing));
    
    p.content {
      margin-bottom: var(--bulma-content-block-margin-bottom);
    }
    p.content:last-of-type {
      margin-bottom: calc(2* var(--bulma-content-block-margin-bottom));
    }
    
    .illustration {
      text-align: center;
    
      i.icon {
        font-size: 3rem;
      }
    }
    
    .title {
      color:#FFFFFF;
      text-align: center;
    }
    .buttons {
      
      justify-content: center;
    }
  }
}
#md-prise-rdv {
  .modal-card {
    .block {
      text-align: center;
    }

    .modal-card-body {
      border-bottom-left-radius: var(--bulma-radius-large);
      border-bottom-right-radius: var(--bulma-radius-large);
    }

    div.block > span.is-styled-tag {
      margin: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: var(--bulma-size-small);
    }
  }

  a.button.is-purple-bordered {
    border-radius: 0;
    border-bottom: 0;
  }

  a.button.is-purple-bordered:first-of-type {
    border-top-left-radius: var(--bulma-radius-large);
    border-top-right-radius: var(--bulma-radius-large);
  }

  a.button.is-purple-bordered:last-of-type {
    border-bottom: 2px v.$purple-light-border solid;
    border-bottom-left-radius: var(--bulma-radius-large);
    border-bottom-right-radius: var(--bulma-radius-large);
  }

  a.button.is-purple-bordered,
  div.fake-button {
    white-space: normal;
    height: auto;  
    display: block;
    transition: background-color .3s ease;
    padding: .75rem;
    text-align: left;

    .title {
      font-family: 'Futura LT W05 Book', sans-serif;
      text-transform: none;
      font-size: var(--bulma-size-6);
      color: v.$purple-heavy;
      margin-top: 0;
      margin-bottom: 0.75rem; 
    }

    .details {
      display: flex;
      align-items: flex-start;

      .description {
        width:57%;
        font-size: var(--bulma-size-7);
        color: v.$purple;
      }
      
      .tarif-duree {
        width:43%;
        padding-left: .5rem;
        text-align: right;

        font-size: var(--bulma-size-7);
        color: v.$purple;

        span.is-styled-tag {
          display: inline-block;
          margin: 0 .5rem 0 0;
        }
      }
    }

    span {
      display: block;
    }
  }

  .button.is-purple-bordered:hover {
    background: v.$purple-light;
  }

}

#md-erreur-questionnaire-sante {
  .modal-background {
    background-color: rgba(255, 255, 255, .8)
  }
  .modal-content {
    width:32rem;
    background-color: var(--bulma-danger);
    color: #ffffff;
    border-radius: var(--bulma-radius-large);
    padding: calc(2* var(--bulma-block-spacing));
    
    p.content {
      margin-bottom: var(--bulma-content-block-margin-bottom);
    }
    p.content:last-of-type {
      margin-bottom: calc(2* var(--bulma-content-block-margin-bottom));
    }
    
    .illustration {
      text-align: center;
    
      i.icon {
        font-size: 3rem;
      }
    }
    
    .title {
      color:#FFFFFF;
      text-align: center;
    }
  }
}

//********************************************/
//************** Calendly *****************/
//********************************************/
.calendly-overlay .calendly-popup {
  max-height: 750px;
}




//************** Petits écrans et téléphones mobiles *****************/
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  hr {
    background-image: url('/images/hr@2x.png');
  }

  hr.light-bg {
    background-image: url('/images/hr-heavy@2x.png');
  }
}

@media only screen and (max-width: 768px) {
  .main .column.picture {
    text-align: center;
  }

  .paiement .box.main {
    padding: 1.25rem;
  }

  body.outil-respiration {
    height: calc(var(--vh, 1vh) * 100);
  }

  body.outil-respiration,
  body.outil-respiration * {
    font-size: 14px;
  }

  body.outil-respiration .panel-config {
    width: 90%;
  }

  body.outil-respiration .track-progress {
    width: 90%;
  }
}

@media only screen and (max-height: 736px) {

  body.outil-respiration,
  body.outil-respiration * {
    font-size: 14px;
  }

  body.outil-respiration .playpause {
    top: 90%;
  }

  body.outil-respiration .stop {
    top: 90%;
  }

  body.outil-respiration .configure {
    top: 90%;
  }

  body.outil-respiration .track-progress {
    top: 10%;
  }

  body.outil-respiration .panel-config {
    top: 35%;
  }
}

//************** Anciens mixins *****************/