// Set your brand colors
$purple-logo: #613F7F;

$purple: #6163A5;
$purple-heavy: #60407F;
$purple-light: #F9F5FF;
$purple-light-border: #E8DEF6;
$purple-heavy-border: #6163A5;
$grey-light: #F2F2F2;
$green-light: #b4ffc8;
$green-heavy: #335b3e;


$dark-purple: #BB95DD;
$dark-purple-heavy:#3F2258;
$dark-purple-heaviest:#20122E;

$dark-orange-light: #973700;
$dark-orange-lighter: #E8722D;

$family-sans-serif: 'Futura LT W05 Book', sans-serif;
$family-serif: 'Abril Display W05 Italic', serif;