// Set your brand colors
$purple-logo: #613F7F;

$purple: #6163A5;
$purple-heavy: #60407F;
$purple-light: #F9F5FF;
$purple-light-border: #E8DEF6;
$purple-heavy-border: #6163A5;
$grey-light: #F2F2F2;
$green-light: #b4ffc8;
$green-heavy: #335b3e;
$warning-tag-background: #FCDBA3;
$warning-tag-color: #663E25;

$dark-purple: #BB95DD;
$dark-purple-heavy: #3F2258;
$dark-purple-heaviest: #20122E;

$dark-orange-light: #9A2700;
$dark-orange-lighter: #FE5A22;
$dark-warning-tag-background: #8A001E;
$dark-warning-tag-color: #E5899D;

$family-sans-serif: 'Futura LT W05 Book', sans-serif;
$family-serif: 'Abril Display W05 Italic', serif;