---
layout: colonne
title: Les zèbres, surdoués, HPI et l’hypnose
image_name: surdoue-hypnose
section: blog
category: atypique
tag: basique
description: Découvrez dans cet article ce que signifie être haut potentiel intellectuel, également appelé surdoué ou zèbre, ainsi que les avantages et inconvénients qui y sont associés. Vous y trouverez également des informations sur les tests de QI et comment l'hypnose peut aider les personnes HPI à surmonter certaines difficultés.
summary: <p>Le haut potentiel intellectuel (HPI), également connu sous les termes de surdoué ou zèbre, se caractérise par un quotient intellectuel supérieur à la moyenne. Bien que ces termes ne soient pas scientifiquement définis, la plupart sont liés au QI.</p><p>Les HPI ont des avantages tels que la créativité, la pensée critique et analytique, la curiosité, mais aussi des inconvénients tels que la sensibilité accrue aux stimuli, l'intensité émotionnelle et le perfectionnisme.</p><p>L'hypnothérapie peut aider les HPI à gérer les difficultés telles que le décalage social, l'anxiété, le stress, la procrastination et les problèmes de relations.</p>
---

<section class="section article">
  <div class="container">
	<div class="content">
	  <h1>Les zèbres, surdoués, HPI et l’hypnose</h1>
	  
	  {% include liens-partage.html %}
	  
	  {% comment %}
	  <p>Catégorie : <a href="{{ site.baseurl }}/blog/{{ page.category }}.html" class="tag is-medium">{{ page.category | capitalize }}</a></p>
	  {% endcomment %}

	  <div class="columns summary-container">
		<div class="column is-5">
		  <span class="banner-image-container"><img class="banner" src="/images/blog/{{ page.image_name }}.jpg" srcset="/images/blog/{{ page.image_name }}.jpg, /images/blog/{{ page.image_name }}@2x.jpg 2x" alt="{{ post.title }}"></span>
		</div>
		<div class="column is-7 purple-border">
			<h3>En résumé</h3>
			{{ page.summary }}
		</div>
	  </div>

	  <h2>Qu’est-ce que le haut potentiel (HP), zèbre ou surdoué ?</h2>
	  <p>Ces trois termes sont différentes appellations qui visent à désigner des personnes dont le quotient intellectuel (QI) est supérieur à la moyenne de la population générale. Chacun de ces termes apporte ses particularités sur le concepts mais <strong>ils s’intéressent globalement au même sujet</strong>.</p>
	  
	  <h2>Être zèbre, qu’est-ce que ça implique ?</h2>
	  <p><strong>Les zèbres ont souvent une façon de penser et de ressentir différente de la norme.</strong> Si, chaque personne a des forces, des faiblesses, des compétences et des défis uniques, les personnes HPI ont des caractéristiques relativement reconnaissables.</p>
	  
		<div class="light-green-bg">
			<div class="illustration"><i class="icon icon-party"></i></div>
			<h3>Avantages d’être haut potentiel intellectuel</h3>
			<ul>
				<li>Capacité d'apprentissage rapide et efficace.</li>
				<li>Créativité et originalité (pensée originale et créative pour trouver des solutions innovantes).</li>
				<li>Pensée critique et analytique (habileté à analyser et évaluer les informations de manière critique).</li>
				<li>Excellente mémoire à long terme pour se rappeler facilement des détails importants.</li>
				<li>Curiosité et intérêt pour la connaissance (fort désir de découvrir et de comprendre de nouvelles choses).</li>
				<li>Grande sensibilité émotionnelle et capacité à créer des liens étroits avec les gens.</li>
			</ul>
		</div>
		
		<div class="light-red-bg">
			<div class="illustration"><i class="icon icon-sapin"></i></div>
			<h3>Inconvénients d'être haut potentiel intellectuel</h3>
			<ul>
				<li>Sensibilité accrue aux stimuli externes (bruits forts ou les lumières vives, ce qui peut parfois rendre anxieux ou stressé).</li>
				<li>Intensité émotionnelle plus élevée (ressentir les émotions de manière plus intense que les autres, ce qui peut les rendre plus vulnérables aux stress émotionnels, à l'anxiété et à la dépression).</li>
				<li>Isolement social en raison de centres d'intérêt différents ou d'incompréhension.</li>
				<li>Difficulté à s'adapter à des situations nouvelles ou imprévues.</li>
				<li>Perfectionnisme et attentes élevées pour soi-même et pour les autres.</li>
				<li>Besoin de stimulation intellectuelle et de défis pour éviter l'ennui (peut amener à se désintéresser de certaines activités ou à les abandonner).</li>
			</ul>
		</div>
	
		<h3>Livres à lire</h3>
		  <p>Pour celles et ceux que le sujet intéresse, je vous recommande vivement de lire sur le sujet. Voici quelques références utiles :</p>
		  <ul>
			  <li>De Kermadec, M. (2017). <em>Un sentiment de solitude : Comment en sortir.</em> Albin Michel.</li>
			  <li>Siaud-Facchin, J. (2008). <em>Trop intelligent pour être heureux ? : l'adulte surdoué.</em> Odile Jacob.</li>
			  <li>Tinoco, C. (2014). <em>Intelligents, trop intelligents.</em> JC Lattès.</li>
		  </ul>
	  
	  <h2>Comment savoir si on est surdoué, HPI, HPE, zèbre ?</h2>
	  <h3>Pas de consensus sur les définitions</h3>
	  <p>"Surdoué, HPI, HPE, zèbre, etc.", aucun de ces termes n’a une définition scientifique qui fasse consensus. En revanche, la notion de haut potentiel intellectuel est très souvent reliée au quotient intellectuel (QI). En ces termes, <strong>un individu est considéré comme HPI lorsque son QI dépasse 130</strong>.</p>
	  <p>Comme il n’y a pas de test unique pour déterminer avec certitude si quelqu'un est HPI ou non, les spécialistes s’appuient alors sur plusieurs indicateurs, dont le QI.</p>
	  <h3>Les tests de QI</h3>
	  <p>Le QI se mesure par un test qui s’appelle WISC (Wechsler Intelligence Scale for Children) - pour les enfants - ou WAIS (Wechsler Adult Intelligence Scale) - pour les adultes -. Ils comprennent des épreuves standardisées dans des domaines tels que la logique, la mémoire, la perception visuelle, la compréhension verbale et la rapidité de traitement. Cependant, ils ne mesurent pas tous les aspects de l'intelligence, comme la créativité, l'empathie ou les compétences sociales.</p>
	  <p>Ces tests sont <strong>supervisés et analysés par des psychologues</strong>. Ils durent entre 1h et 2h et sont payants.</p>
	  
	  <div class="highlight">
		  <h2 class="subtitle">Comment l’hypnose peut-elle aider les zèbres, HP et surdoués ?</h2>
		  <p>Voici quelques-unes des difficultés les plus courantes auxquelles les HPI peuvent être confrontés et pour lesquelles l'hypnothérapie peut être utile :</p>
		  <ol>
			  <li><strong>Le sentiment de décalage</strong> : Les HPI se sentent souvent décalés par rapport aux autres en raison de leur différence perceptible. L'hypnothérapie peut vous aider à améliorer l'estime de soi et à vous sentir plus connectés à votre entourage.</li>
			  <li><strong>L'anxiété, le stress et la dépression</strong> : L’hypnose peut vous aider à réduire les niveaux d'anxiété et de stress en vous apprenant à vous détendre et à gérer vos pensées et émotions de manière plus efficace.</li>
			  <li><strong>Le perfectionnisme et la procrastination</strong> : Les surdoués ont généralement des attentes élevées envers eux-mêmes, ce qui peut conduire à un perfectionnisme et à la procrastination. L'hypnothérapie peut vous aider à surmonter ces habitudes et à vous concentrer sur l'essentiel plutôt que de s'attarder sur les détails.</li>
			  <li><strong>La gestion du temps et des tâches</strong> : L’hypnose peut vous aider à améliorer la gestion du temps, à hiérarchiser vos tâches et à vous concentrer sur une tâche à la fois.</li>
			  <li><strong>Les problèmes de relation</strong> : Les zèbres rencontrent souvent des difficultés dans leurs relations interpersonnelles en raison de leur différence perceptible. L'hypnothérapie peut vous aider à améliorer vos compétences sociales et à apprendre à communiquer efficacement avec les autres.</li>
		  </ol>
		<p>Pour les zèbres, HP(E/I), surdoués qui ressentent un besoin d’accompagnement, je reste disponible pour vous accompagner.</p>
		<p class="has-text-centered">{% bouton_rendez_vous is-white %}</p>
	  </div>
	  
	  {% include liens-partage.html %}
	  
	</div>
	
	{% include bandeau-auteur.html %}
	
	{% include bandeau-temoignages.html %}
	
	{% include bandeau-plus-loin-hypnose.html %}
  </div>
</section>
