---
layout: colonne
title: Méditation à Villefranche de Lauragais
image_name: meditation-villefranche
section: blog
category: meditation
tag: exclusif
description: La méditation est pratiquée depuis des milliers d'années dans différentes traditions spirituelles et philosophiques à travers le monde. Dès septembre 2023, venez découvrir et pratiquer la méditation à travers des ateliers hebdomadaires à la MJC de Villefranche de Lauragais.
summary: <p>Dès septembre 2023, venez découvrir et pratiquer la méditation à travers des ateliers hebdomadaires à la MJC de Villefranche de Lauragais.</p><p>En silence ou en musique, statique ou en mouvement, guidé ou non, les pratiques seront variées.</p>
---

<section class="section article">
  <div class="container">
	<div class="content">
	  <h1>Ateliers de méditation à Villefranche de Lauragais</h1>
	  
	  {% include liens-partage.html %}
	  
	  {% comment %}
	  <p>Catégorie : <a href="{{ site.baseurl }}/blog/{{ page.category }}.html" class="tag is-medium">{{ page.category | capitalize }}</a></p>
	  {% endcomment %}

	  <div class="columns summary-container">
		<div class="column is-5">
		  <span class="banner-image-container"><img class="banner" src="/images/blog/{{ page.image_name }}.jpg" srcset="/images/blog/{{ page.image_name }}.jpg, /images/blog/{{ page.image_name }}@2x.jpg 2x" alt="{{ post.title }}"></span>
		</div>
		<div class="column is-7 purple-border">
			<h3>En résumé</h3>
			{{ page.summary }}
		</div>
	  </div>

	  <h2>Qu'est-ce que la méditation ?</h2>
	  <p>La méditation est pratiquée depuis des milliers d'années dans différentes traditions spirituelles et philosophiques à travers le monde.</p>
	  <p><strong>Elle offre un moyen de se connecter avec notre expérience intérieure</strong>, de cultiver la présence attentive et de développer une compréhension profonde de nous-mêmes et du monde qui nous entoure.</p>
	  <p>Rejoignez-nous pour ce voyage d’exploration et de transformation !</p>
	  
	  <h2>Comment se déroule une séance ?</h2>
	  <p>Les ateliers se déroulent en groupe, une fois par semaine pendant toute la période scolaire (aucun atelier pendant les congés scolaires).</p>
	  <p>Chaque séance sera différente et vous permettra de découvrir des façons variées de méditer.</p>
	  <p>Le déroulement général est le suivant :</p>
	  <ol>
		  <li>Accueil des participants.</li>
		  <li>Pratique 1 : observation de son état intérieur et partage.</li>
		  <li>Pratique 2 : thème différent à chaque séance (en silence ou en musique, statique ou en mouvement, guidé ou pas, etc.).</li>
		  <li>Partage des expériences, questions, demandes, échanges.</li>
	  </ol>
	  
	  <h2>Informations pratiques</h2>
	  <div class="light-bg"><p>Début de l'activité le <strong>mardi 12 septembre 2023</strong>.</p></div>
	  <ul>
		  <li><strong>Saison :</strong> 2023-2024</li>
		  <li><strong>Lieu :</strong> Salle de danse de la MJC de Villefranche de Lauragais</li>
		  <li><strong>Jours et horaires :</strong> Mardi de 20h à 21h15 <del>et Jeudi de 14h à 15h15</del></li>
		  <li><strong>Tarifs :</strong> 255€ pour l'année (+5€ pour les non villefranchois)</li>
		  <li><strong>Inscription :</strong> Voir directement avec la MJC : <a href="http://www.mjc-villefranchedelauragais.com" target="_blank">www.mjc-villefranchedelauragais.com</a></li>
		  <li><strong>Animateur :</strong> Moi-même, <a href="{{ site.baseurl }}/florent-jaouali.html">Florent Jaouali</a></li>
	  </ul>
	  
	  {% include liens-partage.html %}

	  </div>
	
	{% include bandeaux/bandeau-auteur.html %}
  </div>
</section>
