---
layout: colonne
title: 2024 - Nouvelle année, nouveaux choix ?
image_name : mes-voeux-2024
section: blog
category: actualite
tag: exclusif
description: L’engagement envers Soi est une direction qu’on choisi de suivre ; pas une destination qu’on s’attend à atteindre. Découvrez à travers mes voeux 2024 pourquoi s'engager envers Soi me semble essentiel.
summary: <p>Voici mes vœux pour cette nouvelle année 2024 !</p><p>Ce texte a été envoyé par e-mail à celles et ceux inscrits à la newsletter (le formulaire d'inscription se trouve en bas de la page).</p><p>Alors en résumé, <strong>bonne année à tous et, soyez Sages !</strong></p>
---

<section class="section article">
  <div class="container">
	<div class="content">
	  <h1>2024 - Nouvelle année, nouveaux choix&nbsp;?</h1>
	  {% comment %}
	  <p>Catégorie : <a href="{{ site.baseurl }}/blog/{{ page.category }}.html" class="tag is-medium">{{ page.category | capitalize }}</a></p>
	  {% endcomment %}

	  <div class="columns summary-container">
		<div class="column is-5">
		  <span class="banner-image-container"><img class="banner" src="/images/blog/{{ page.image_name }}.jpg" srcset="/images/blog/{{ page.image_name }}.jpg, /images/blog/{{ page.image_name }}@2x.jpg 2x" alt="{{ post.title }}"></span>
		</div>
		<div class="column is-7 purple-border">
			<h3>En résumé</h3>
			<p>Voici mes vœux pour cette nouvelle année 2024 !</p>
			<p>Ce texte a été envoyé par e-mail à celles et ceux inscrits à la newsletter (le formulaire d'inscription se trouve en bas de la page).</p>
			<p>Alors en résumé, <strong>bonne année à tous et, soyez Sages !</strong></p>
		</div>
	  </div>

	  <h2>Je vous souhaite une belle année 2024 !!!</h2>
	  <p>Avant toute chose, je vous souhaite une merveilleuse nouvelle année, en mouvement, à votre rythme, pleine de douceur et de vie :)</p>
	  
	  <h2>Avez-vous été "sage" ?</h2>
	  
	  <p>Je ne sais pas si vous avez remarqué l'usage courant de cette expression, surtout à proximité de Noël&nbsp;:</p>

	  <div class="light-bg"><p><em>«&nbsp;Les enfants, si vous avez été sages, le Père Noël vous apportera des cadeaux !&nbsp;»</em></p></div>

	  <p>Le petit chantage qui va bien... Un fonctionnement par défaut (faute de mieux) que l'on transmet inconsciemment à nos enfants tout en mélangeant la <strong>sagesse</strong> et <strong>l'obéissance</strong>...</p>
	  
	  <h2>Et si nous commencions par êtres honnêtes et humbles ?</h2>
	  
	  <p>Peut-être pourrions-nous leur transmettre implicitement quelques graines de sagesse&nbsp;:</p>

	  <div class="light-bg"><p><em>«&nbsp;Très chers enfants, il y a certaines situations dans lesquelles je suis dépassé. Je ne sais plus quoi faire et je me mets en colère pour vous forcer à m'obéir. Dans certains cas, il y a réellement un danger, mais souvent, je ne sais pas vraiment pourquoi je réagis comme ça. Je n'ai pas mieux pour l'instant et je vous demande pardon. Vous méritez des cadeaux simplement par ce que vous êtes qui vous êtes et ça, le Père Noël le sait.&nbsp;»</em></p></div>
	  
      <div class="columns is-vcentered">
          <div class="column is-4">
            <img class="fill" src="/images/blog/albert-einstein.jpg" srcset="/images/blog/albert-einstein.jpg, /images/blog/albert-einstein@2x.jpg 2x" alt="Albert Einstein">
          </div>
        <div class="column is-8">
          <h3>«&nbsp;Une personne intelligente résout un problème. Une personne sage l'évite.&nbsp;»</h3>
		  <p>- Albert Einstein</p>
        </div>
        
      </div>
	  
	  
	  
	  <img src="/images/blog/nouveaux-choix.jpg" srcset="/images/blog/nouveaux-choix.jpg, /images/blog/nouveaux-choix@2x.jpg 2x" alt="Nouveaux choix">
	  <h2>Nouvelle année, nouveaux choix ?</h2>
	  <p>Souvent, l'arrivée d'une nouvelle année est l'occasion de s'engager dans de nouveaux choix, de nouvelles activités, de nouveaux défis, etc. Et je trouve ça très bien !</p>

		<p>Mais on ne plante pas des fraises en décembre...</p>

		<p>Alors que faire si votre projet est de planter des fraises ? Identifier le bon moment (<a href="https://fr.wikipedia.org/wiki/Kairos" target="_blank">Kaïros</a>) dans votre jardin intérieur pour planter les graines de vos projets !</p>

		<p>Vous réaliserez alors que chaque seconde est une nouvelle seconde ! <strong>Nouvelle seconde, nouveaux choix potentiels :)</strong></p>
		<h2>Choisir la sagesse ?</h2>
		<p>Si «&nbsp;le Sage évite les problèmes&nbsp;», alors une voie vous est ouverte.</p>

		<p>Nous évitons d'avoir des caries en prenant soin de nos dents. Nous évitons de tomber de fatigue en prenant du repos. Nous évitons des migraines et divers troubles en prenant soin de notre hydratation.</p>
		<p>Etc.</p>
		<p>Mais comment prenons-nous soins de notre <strong>mental</strong>, de nos schémas de pensées ? Comment prenons-nous soin de notre monde <strong>émotionnel</strong> ? Comment prenons-nous soin de nos <strong>relations</strong> à nous-même, aux autres, à l'humanité, à la vie, à la planète ? Comment prenons-nous soin de nos <strong>autres facettes</strong> profondes et existentielles ?</p>
	  
	  <h2>On s'engage vers Soi.</h2>
	  
  		<p>Il s'agit d'un réel travail, parfois difficile ou fatiguant mais qui, au fur et à mesure, apporte de la joie, de la légèreté, de la plénitude et de l'harmonie intérieure. Quel meilleur cadeau peut-on se faire à Soi et, par extension, à l'humanité ?</p>
  		
	<div class="light-bg">
		<p>L’engagement envers Soi est une direction qu’on choisi de suivre ; pas une destination qu’on s’attend à atteindre.</p>
		
  		<p><strong>Alors je vous invite joyeusement à envisager ce choix et je reste disponible pour vous accompagner aussi loin que vous le souhaitez.</strong></p>
	  </div>
	  
	  {% include liens-partage.html %}
	</div>
	
	{% include bandeau-auteur.html %}
	
	{% include bandeau-plus-loin-promo.html %}
  </div>
</section>
