---
layout: colonne
title: L'hypnose, une voie vers Soi
image_name: hypnose-conference-voie-vers-soi
image_position : left 20%
section: blog
category: video
tag: exclusif
description: Que sont les valeurs motivationnelles (liberté, force, réussite, justice, amour, reconnaissance, etc.) et quel sont leurs impacts dans notre vie ? Profitez d'une séance d'hypnose pour découvrir votre intérieur et trouver un nouvel équilibre !
summary: <p>Dans cette conférence d'1h, vous découvrirez une façon d'aborder les valeurs motivationnelles (liberté, force, réussite, justice, amour, reconnaissance, etc.) et de leurs impacts dans notre vie.</p><p>Avec l'hypnose, je vous guide à l'intérieur de vous pour trouver une de celles-ci et vous propose une perspective différente visant à créer un nouvel équilibre.</p>
---

<section class="section article">
  <div class="container">
	<div class="content">
	  <h1>L'hypnose, une voie vers Soi</h1>
	  
	  {% include liens-partage.html %}
	  
	  {% comment %}
	  <p>Catégorie : <a href="{{ site.baseurl }}/blog/{{ page.category }}.html" class="tag is-medium">{{ page.category | capitalize }}</a></p>
	  {% endcomment %}

	  <div class="columns summary-container">
		<div class="column is-5">
		  <span class="banner-image-container"><img class="banner" src="/images/blog/{{ page.image_name }}.jpg" srcset="/images/blog/{{ page.image_name }}.jpg, /images/blog/{{ page.image_name }}@2x.jpg 2x" alt="{{ post.title }}"></span>
		</div>
		<div class="column is-7 purple-border">
			<h3>En résumé</h3>
			{{ page.summary }}
		</div>
	  </div>
	  
      <p class="video-responsive">
		
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CMG8AWpq1XI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		
      </p>
	  
	  <p>Cette conférence a été filmée lors du Salon du Bien-être à Toulouse le 10/09/2023.</p>
	  
	  {% include liens-partage.html %}

	  </div>
	
	{% include bandeau-auteur.html %}
  </div>
</section>
