<section class="section blog">
  <div class="container ">
    <div class="columns">
      <div class="column has-text-right">
        <h2 class="title is-2">Le Blog</h2>
        <p class="subtitle">Des ressources pour la réalisation de Soi</p>
      </div>
      <div class="column">
        <div class="content">
          <div class="blog-card-container">
            <div class="illustration"><a href="/blog/traumatisme/traumatisme-dissociation-et-hypnose.html"><span class="banner-image-container"><img class="banner" src="/images/blog/dissociation-traumatisme-hypnose.jpg" srcset="/images/blog/dissociation-traumatisme-hypnose.jpg, /images/blog/dissociation-traumatisme-hypnose@2x.jpg 2x" alt="La dissociation d'origine traumatique et l'hypnose"></span></a></div>
            <div class="light-grey-bg has-text-left">
              <h2>La dissociation d'origine traumatique et l'hypnose</h2>
              <p>Comprenez la dissociation d'origine traumatique et les conséquences psychiques, émotionnelles, cognitives, somatiques, relationnelles. Découvrez comment l'hypnose peut aider au mieux-être.</p>
              <a class="button is-white is-purple-bordered is-hidden-tablet-only is-hidden-desktop-only" href="/blog/traumatisme/traumatisme-dissociation-et-hypnose.html">Découvrir la dissociation d'origine traumatique et l'hypnose</a>
              <a class="button is-white is-purple-bordered is-hidden-mobile is-hidden-widescreen-only is-hidden-fullhd" href="/blog/traumatisme/traumatisme-dissociation-et-hypnose.html">Lire l'article</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
