<section class="section oracle">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h2 class="title is-2">L’Oracle de mes ressources</h2>
        <p class="subtitle">Un jeu de cartes pour se dé-couvrir</p>
      </div>
      <div class="column is-5">
        <div class="content">
          <p>Cet Oracle est composé de 37 cartes. Chaque carte correspond à une ressource psychologique, une de vos qualités humaines (confiance, diligence, tempérance, sensibilité, etc.).</p>
          <p>Elles vous aident à envisager d’autres perspectives en guidant votre attention vers des possibilités parfois peu habituelles.</p>
          <p>Ce jeu est destiné à ceux qui s’intéressent au développement personnel d’un point de vue pratique (découverte de soi, introspection, auto- thérapie, etc.).</p>
        </div>
      </div>
      <div class="column is-2 has-text-right">
        <a href="{{ site.baseurl }}/outils/oracle-de-mes-ressources.html"><img class="fill" src="/images/contenus/oracle-ressources-boite.jpg" srcset="/images/contenus/oracle-ressources-boite.jpg, /images/contenus/oracle-ressources-boite@2x.jpg 2x" alt="Oracle de mes ressources (boitier)"></a>
      </div>
      <div class="column is-5 has-text-right">
        <div class="video-responsive">
          <lite-youtube videoid="YfIZoZbOVPw" nocookie></lite-youtube>
        </div>
      </div>
      <div class="column is-12">
        <a class="button is-white is-purple-bordered is-medium is-hidden-mobile" href="{{ site.baseurl }}/outils/oracle-de-mes-ressources.html">Découvrir l’Oracle des mes ressources</a>
        <a class="button is-white is-purple-bordered is-medium is-hidden-tablet" href="{{ site.baseurl }}/outils/oracle-de-mes-ressources.html">Découvrir ce jeu</a>
      </div>
    </div>
  </div>
</section>
