<section class="section newsletter light-bg">
  <div class="container">
    <div class="main">
      <div class="columns is-vcentered">
        <div class="column is-half has-text-right">
          <h3 class="title is-2">Inscrivez-vous à la newsletter</h3>
          <div class="block">
            <p>Reçevez les actualités de Luminose par e-mail (publication d'un article, d'informations sur des stages ou des formations).</p>
          </div>


<!-- START - We recommend to place the below code where you want the form in your website html  -->
  <div id="sib-form-container" class="sib-form-container">
    <div id="error-message" class="sib-form-message-panel is-hidden">
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg class="sib-icon sib-notification__icon">
        </svg>
        <span class="sib-form-message-panel__inner-text">
                          Nous n&#039;avons pas pu confirmer votre inscription.
                      </span>
      </div>
    </div>
    <div></div>
    <div id="success-message" class="sib-form-message-panel is-hidden" >
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg class="sib-icon sib-notification__icon">
        </svg>
        <span class="sib-form-message-panel__inner-text">
                          Votre inscription est confirmée.
                      </span>
      </div>
    </div>

    <div id="sib-container" class="sib-container--large sib-container--vertical">
      <form id="sib-form" method="POST" action="https://5bb7bc3f.sibforms.com/serve/MUIFAKxXEh258z_l_bMMpcu0Hut_BwyScMQdHm00pYpSimsmIvxfcBAr0lnkkzOtA7eWDRmiSFAnGW_TSRUn_SZnB-N6f0XeLIoBZf-WeH6PrUBonEdcKR6tn8QArx75vKuVUB5g0YGwj5ilD0v7rckwciPo4ogH_t8hCPQrmAaSQ1vDCZIXkEJWm96zlzJIL-gouwh3pLLAW_Uo" data-type="subscription">
        
        <input type="hidden" id="ABONNE_VIA_SITE_WEB" name="ABONNE_VIA_SITE_WEB" value=1" />
        <input type="hidden" id="OPT_IN" name="OPT_IN" value="1" />
        <div style="padding: 8px 0;">
          <div class="g-recaptcha-v3" data-sitekey="6LcWCPgqAAAAAOIKPvshWxLozgnbLTigI-Y-VVP4" style="display: none"></div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-input sib-form-block">
            <div class="form__entry entry_block">
              <div class="form__label-row ">

                <div class="entry__field">
                  <input class="input " type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                </div>
              </div>

              <label class="entry__error entry__error--primary" >
              </label>
            </div>
          </div>
        </div>
        <div style="padding: 8px 0;">
          <div class="sib-form-block" style="text-align: left">
            <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:Helvetica, sans-serif; color:#FFFFFF; background-color:#3E4857; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
              <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
              </svg>
              S&#039;INSCRIRE
            </button>
          </div>
        </div>

        <input type="text" name="email_address_check" value="" class="is-hidden">
        <input type="hidden" name="locale" value="fr">
      </form>
    </div>
  </div>
<!-- END - We recommend to place the above code where you want the form in your website html  -->

<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';
  window.LOCALE = 'fr';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

  window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

  window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




  window.translation = {
    common: {
      selectedList: '{quantity} liste sélectionnée',
      selectedLists: '{quantity} listes sélectionnées',
      selectedOption: '{quantity} sélectionnée',
      selectedOptions: '{quantity} sélectionnées',
    }
  };

  var AUTOHIDE = Boolean(0);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>


<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
<!-- End Brevo Form -->

          <div class="block">
            <p><small>Quelques envois dans l'année et vous pouvez vous désinscrire à tout moment.</small></p>
          </div>
        </div>
        <div class="column">
          <i class="icon icon-newsletter big-icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>