<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <h2 class="title is-2">La cohérence cardiaque</h2>
          <p>La cohérence cardiaque est une technique de respiration qui vise à harmoniser les battements du coeur avec la respiration.</p>
          <p>En pratiquant la cohérence cardiaque régulièrement, il est possible de réduire le stress, améliorer la qualité du sommeil, augmenter la concentration et la productivité, ainsi que de renforcer le système immunitaire.</p>
          <p>Cet outil vous guide simplement dans votre pratique.</p>
          <a class="button is-white is-purple-bordered is-medium" href="{{ site.baseurl }}/outils/respiration.html">Faire une session de respiration</a>
        </div>
      </div>
      <div class="column has-text-right">
        <a href="{{ site.baseurl }}/outils/respiration.html"><img class="fill" src="/images/contenus/respiration.jpg" srcset="/images/contenus/respiration.jpg, /images/contenus/respiration@2x.jpg 2x" alt="Respiration en cohérence cardiaque"></a>
      </div>
    </div>
  </div>
</section>
