<div class="box">
  <article class="media">
	<div class="media-left">
	  <figure class="image is-64x64">
		{% img_optimized "florent.png" alt="Florent Jaouali" class="florent" width=198 height=198 %}
	  </figure>
	</div>
	<div class="media-content">
	  <div class="content">
		  <p><small>{{ page.date | datePublicationArticle }}</small></p>
		  <p>Par <strong>Florent Jaouali</strong>, Psychopraticien transpersonnel</p>
		  <p>Je vous reçois en séance d'hypnose, méditation, respiration holotropique à Villefranche de Lauragais et en ligne. <small>Secteurs proches : Toulouse, Labège, Saint-Orens de Gameville, Castanet, Baziège, Castelnaudary, Nailloux, Gardouch, Revel, Pamiers, Auterive, etc.</small></p>
	  </div>
	</div>
  </article>
</div>