<section class="section newsletter light-bg">
  <div class="container">
    <div class="main">
      <div class="columns is-vcentered">
        <div class="column is-half has-text-right">
          <h3 class="title is-2">Inscrivez-vous à la newsletter</h3>
          <div class="block">
            <p>Reçevez les actualités de Luminose par e-mail (publication d'un article, d'informations sur des stages ou des formations).</p>
          </div>


<!-- START - We recommend to place the below code where you want the form in your website html  -->
  <div id="sib-form-container" class="sib-form-container">
    <div id="error-message" class="sib-form-message-panel is-hidden">
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg class="sib-icon sib-notification__icon"></svg>
        <span class="sib-form-message-panel__inner-text">Nous n'avons pas pu confirmer votre inscription.</span>
      </div>
    </div>
    <div></div>
    <div id="success-message" class="sib-form-message-panel is-hidden" >
      <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
        <svg class="sib-icon sib-notification__icon"></svg>
        <span class="sib-form-message-panel__inner-text">Votre inscription est confirmée.</span>
      </div>
    </div>

    <div id="sib-container" class="sib-container--large sib-container--vertical">
      <form id="sib-form" method="POST" action="https://5bb7bc3f.sibforms.com/serve/MUIFAKxXEh258z_l_bMMpcu0Hut_BwyScMQdHm00pYpSimsmIvxfcBAr0lnkkzOtA7eWDRmiSFAnGW_TSRUn_SZnB-N6f0XeLIoBZf-WeH6PrUBonEdcKR6tn8QArx75vKuVUB5g0YGwj5ilD0v7rckwciPo4ogH_t8hCPQrmAaSQ1vDCZIXkEJWm96zlzJIL-gouwh3pLLAW_Uo" data-type="subscription">
        
        <input type="hidden" id="ABONNE_VIA_SITE_WEB" name="ABONNE_VIA_SITE_WEB" value=1" />
        <input type="hidden" id="OPT_IN" name="OPT_IN" value="1" />
        <div class="g-recaptcha-v3" data-sitekey="6LcWCPgqAAAAAOIKPvshWxLozgnbLTigI-Y-VVP4" style="display: none"></div>

        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-purple-bordered" type="email" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Adresse e-mail" data-required="true" required />
          </div>
          <div class="control">
            <button type="submit" class="button is-white is-purple-bordered sib-form-block__button sib-form-block__button-with-loader" form="sib-form"><svg class="is-hidden icon clickable__icon progress-indicator__icon sib-hide-loader-icon"></svg>S’inscire à la newsletter</button>
          </div>
        </div>

        <label class="entry__error entry__error--primary" ></label>

        <input type="text" name="email_address_check" value="" class="is-hidden">
        <input type="hidden" name="locale" value="fr">
      </form>
    </div>
  </div>
<!-- END - We recommend to place the above code where you want the form in your website html  -->

<!-- START - We recommend to place the below code in footer or bottom of your website html  -->

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>


<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
<!-- End Brevo Form -->

          <div class="block">
            <p><small>Quelques envois dans l'année et vous pouvez vous désinscrire à tout moment.</small></p>
          </div>
        </div>
        <div class="column">
          <i class="icon icon-newsletter big-icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>