<section class="section newsletter light-bg">
  <div class="container">
    <div class="main">
      <div class="columns is-vcentered">
        <div class="column is-half has-text-right">
          <h3 class="title is-2">Inscrivez-vous à la newsletter</h3>
          <div class="block">
            <p>Reçevez les actualités de Luminose par e-mail (publication d'un article, d'informations sur des stages ou des formations).</p>
          </div>

            <!-- Begin Brevo Form -->
            <!-- START - We recommend to place the below code where you want the form in your website html  -->
            <form class="is-horizontal" id="sib-form" method="POST" target="_blank" action="https://5bb7bc3f.sibforms.com/serve/MUIFAL60i4t7iCY8YY1qUgXE0uNF0bftHwnZgfsZiCFt2AwcDhRIyDsE2c1Vs7OtbMpC8pW4-bXznMJO1qxoFzJ6rqIV2ju-7xmyb56s0Sj46CBCEiaqgYUIBB0h25An6B3iAbLHKxMrS0TvmjFwJnC4MHM-3SY2qAGKsUnup8F0777bss0n90vxIZUfSDLsBd9QyH_L-bZwI8Sa">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-purple-bordered" type="email" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Adresse e-mail" data-required="true" required />
                </div>
                <div class="control">
                  <button type="submit" class="button is-white is-purple-bordered" form="sib-form">S’inscire à la newsletter</button>
                </div>
              </div>
              <input class="is-hidden" type="text" id="TELEPHONE_EST_PIEGE" name="TELEPHONE_EST_PIEGE" />
              <input type="hidden" id="ABONNE_VIA_SITE_WEB" name="ABONNE_VIA_SITE_WEB" value=1" />
              <input type="hidden" id="OPT_IN" name="OPT_IN" value="1" />
              <input type="hidden" name="locale" value="fr">
              <input type="hidden" name="html_type" value="simple">
            </form>
            <!-- END - We recommend to place the above code where you want the form in your website html  -->
            <!-- End Brevo Form -->

          <div class="block">
            <p><small>Quelques envois dans l'année et vous pouvez vous désinscrire à tout moment.</small></p>
          </div>
        </div>
        <div class="column">
          <i class="icon icon-newsletter big-icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>