<section class="section oracle">
  <a href="{{ site.baseurl }}/outils/oracle-de-mes-ressources.html">{% img_optimized "contenus/oracle-ressources-boite.jpg" alt="Oracle de mes ressources (boitier)" width=637 height=637 %}</a>
  <div class="container">
    <div class="content">
      <p class="title">L’Oracle de mes ressources</p>
      <p class="subtitle">Un jeu de cartes pour se dé-couvrir</p>
      <a class="button is-white is-purple-bordered" href="{{ site.baseurl }}/outils/oracle-de-mes-ressources.html">Découvrir cet Oracle</a>
    </div>
  </div>
</section>
