<section class="section seuil">
    <span class="tag tagbanner">Nouveau</span>
  <a href="https://passage.luminose.fr?utm_source=luminose&utm_medium=website&utm_campaign=colonne&utm_term=image" target="_blank">
    <picture>
    <!-- User prefers light mode: -->
    <source srcset="/images/contenus/le-seuil.jpg, /images/contenus/le-seuil@2x.jpg 2x" media="(prefers-color-scheme: light)"/>

    <!-- User prefers dark mode: -->
    <source srcset="/images/contenus/le-seuil-dark.jpg, /images/contenus/le-seuil-dark@2x.jpg 2x"  media="(prefers-color-scheme: dark)"/>

    <!-- User has no color preference: -->
    <img src="/images/contenus/le-seuil.jpg" alt="Le Seuil - Rite de passage contemporain">
    </picture>
  </a>
  <div class="container">
    <div class="content">
      <p class="title">Le Seuil</p>
      <p class="subtitle">Un rite de passage contemporain pour transformer votre transition en initiation</p>
      <a class="button is-white" href="https://passage.luminose.fr?utm_source=luminose&utm_medium=website&utm_campaign=colonne&utm_term=bouton" target="_blank">Découvrir ce parcours</a>
    </div>
  </div>
</section>
