<section class="section florent">
  <div class="has-text-centered"><img class="florent" src="/images/florent.png" srcset="/images/florent.png, /images/florent@2x.png 2x" alt="Florent Jaouali"></div>

  <div class="container">
    <div class="main has-text-centered">
      <h2 class="title person">Florent Jaouali</h2>
      <h3 class="subtitle job">Hypnothérapeute & Facilitateur en Respiration Holotropique</h3>
      <p class="contact block"><a href="tel:+33637332655">06 37 33 26 55</a><br/><a href="mailto:florent@luminose.fr">florent@luminose.fr</a></p>
      {% bouton_rendez_vous %}
      <div class="content">
        <div class="ligne block"><span class="nom">Lieu</span><span class="adresse">2 Avenue de Verdun<br />Le Moulin de Barrelles<br />31 290 Villefranche de Lauragais</span></div>
      </div>
    </div>
  </div>

</section>
