---
layout: colonne
title: Ateliers de respiration holotropique en groupe vers Toulouse
section: holotropique
sous-section: groupe
description: Rejoignez les ateliers de respiration holotropique en groupe avec Florent Jaouali, alliant dynamique collective, techniques d'intégration et partages d'expériences enrichissantes.
slug: respiration-holotropique-groupe
redirect_from:
 - /rh
---

<section class="section article">
  <div class="container">
    <div class="content">
      <h1>La respiration holotropique en groupe</h1>
      <h2>Quels avantages ?</h2>
      <ul>
        <li>En groupe, il y a souvent une <strong>dynamique collective qui peut être très puissante</strong> et qui offre un sentiment de <strong>soutien communautaire</strong>.</li>
        <li>D'autre part le groupe permet d'observer et <strong>d'apprendre des expériences des autres</strong> pendant la respiration et les cercles de parole.</li>
        <li>Comme les ateliers se déroulent à minima sur 1 jour, cela permet <strong>d'aller plus loin dans les techniques d'intégration</strong> (mandalas par exemple).</li>
      </ul>

      {% include bandeaux/bandeau-respiration-holotropique-liste-evenements.html %}

      <h2>Comment se déroulent les ateliers ?</h2>
      <p>Les ateliers de respiration holotropique que je propose se passent sur une journée (~9h30 - 18h30). Le déroulement peut varier mais suit cette trame :</p>
      <p><strong>Matin :</strong></p>
      <ul>
        <li>Accueil des participants.</li>
        <li>Présentation de la respiration holotropique, des aspects pratiques et du cadre de l'atelier.</li>
        <li>Présentation des participants et constitution des duos.</li>
        <li>Première respiration holotropique pour la moitié du groupe.</li>
      </ul>
      <p><strong>Après-midi :</strong></p>
      <ul>
        <li>Après la pause déjeuner, seconde respiration holotropique pour l'autre moitié du groupe.</li>
        <li>Temps d'intégration, partage d’expériences en groupe.</li>
        <li>Recommandations et clôture de la journée.</li>
      </ul>
      
      <p><img class="fill" src="/images/contenus/respiration-holotropique-atelier-groupe.jpg" srcset="/images/contenus/respiration-holotropique-atelier-groupe.jpg, /images/contenus/respiration-holotropique-atelier-groupe@2x.jpg 2x" alt="Atelier de respiration holotropique en groupe, Florent Jaouali - Luminose"></p>
        
      <h2>Que peut-on attendre d’un atelier de respiration holotropique en groupe ?</h2>
      <p>En plus de ce que l'on peut attendre d'une <a href="{{ site.baseurl }}/respiration-holotropique/seance-individuelle.html#attentes">séance de respiration holotropique individuelle</a>, en groupe la diversité des expériences des uns et des autres offre une expérience enrichissante.</p>
      <div class="light-bg">
        <p><strong>Le travail de respiration holotropique en groupe nécessite d'alterner entre les rôles de Respirant et d’Accompagnant.</strong> Ces deux aspects de l’expérience sont cruciaux pour comprendre, intégrer et transcender les éléments qui surgissent durant la séance.</p>
      </div>
      <p>D'autre part, j'observe assez souvent des résonances dans les histoires, vécus et difficultés rencontrées par les participants. Les partages dans le groupe aident alors parfois à changer de perspective ou de compréhension.</p>

      <div class="blog">
      {% include bandeaux/bandeau-temoignages.html %}  
    </div>

      <hr />
      <div class="plus light-grey-bg">
        <div class="title">Pour aller plus loin</div>
        <div class="buttons">
          <a href="{{ site.baseurl }}/respiration-holotropique.html" class="button is-white is-purple-bordered">Qu'est-ce que la respiration holotropique ?</a>
          <a href="{{ site.baseurl }}/respiration-holotropique/seance-individuelle.html" class="button is-white is-purple-bordered">Les séances individuelles</a>
        </div>
      </div>
    </div>
  </div>
</section>
