<div class="columns light-bg field is-horizontal">
    <div class="column is-3">
        <label class="label">Vos coordonnées</label>
    </div>
    <div class="column is-9">
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select class="is-purple-bordered" name="coordonnees_participant[genre]" required>
                            <option value=""></option>
                            <option value="Mme">Mme</option>
                            <option value="M.">M.</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field is-expanded">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Prénom" name="coordonnees_participant[prenom]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
            <div class="field is-expanded">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Nom" name="coordonnees_participant[nom]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
        </div>
        <div class="field-body">
            <div class="field is-expanded">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Adresse" name="coordonnees_participant[adresse]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Code postal" name="coordonnees_participant[code_postal]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
            <div class="field is-expanded">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Ville" name="coordonnees_participant[ville]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Téléphone" name="coordonnees_participant[telephone]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
            <div class="field is-expanded">
                <p class="control has-icons-right">
                    <input id="test-email" class="input is-purple-bordered" type="email" placeholder="E-mail" name="coordonnees_participant[email]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
        </div>
        <div class="field-body">
            <div class="field is-expanded">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Profession" name="coordonnees_participant[profession]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
            <div class="field is-narrow">
                <p class="control has-icons-right">
                    <input class="input is-purple-bordered" type="text" placeholder="Date de naissance" name="coordonnees_participant[date-naissance]" required>
                    <span class="icon is-small is-right"><i class="fas"></i></span>
                </p>
            </div>
        </div>
    </div>
</div>