<div class="columns light-bg field is-horizontal">
    <div class="column is-3">
        <label class="label">Votre déclaration</label>
    </div>
    <div class="column is-9">
        <p><strong>Veuillez lire et valider la déclaration suivante :</strong></p>
        <div class="field-body">
            <div class="field">
                <div class="control white-bg"  tabindex="0">
                    <input class="is-checkradio" id="declaration-sante" type="checkbox" name="declaration-sante" required>
                    <label for="declaration-sante">Je confirme par la présente que j'ai lu et compris les informations ci-dessus, que j'ai répondu à toutes les questions de manière complète et honnête et que je n'ai dissimulé aucune information. Pour autant que je sache, mon état de santé générale est bon.</label>
                </div>
            </div>
        </div>
    </div>
</div>