<div class="columns light-bg field is-horizontal">
    <div class="column is-3">
        <label class="label">Informations complémentaires</label>
    </div>
    <div class="column is-9">
        <p><strong>Merci de partager ici toute information que vous souhaitez porter à ma connaissance.</strong></p>
        <div class="field-body">
            <div class="field">
                <p class="help">Ce champ est facultatif</p>
                <div class="control">
                    <textarea class="textarea is-purple-bordered" name="informations-complementaires"></textarea>
                </div>

            </div>

        </div>
    </div>
</div>