<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body class="{{ page.section }}">
    
    {% include noscript.html %}

    {% include navigation.html %}

    <div class="container">
      <div class="columns">
        <div class="column is-8">
          {{ content }}
        </div>
        <div class="column is-4 right-column">
          {% include colonnes/colonne-florent.html %}

          {% include colonnes/colonne-oracle.html %}
        </div>
      </div>
    </div>

    {% include bandeaux/bandeau-newsletter.html %}

    {% include footer.html %}
	
	  {% include modales/modal-rendez-vous.html %}
  
    {% include modales/modal-cookies.html %}

    {% include scripts.html %}

  </body>

</html>
