<!DOCTYPE html>
<html lang="fr" >

  {% include head.html %}

  <body class="{{ page.section }}">
    
    {% include noscript.html %}

    {% include navigation.html %}

    {{ content }}

    {% if page.layout_remove_florent != true %}
    {% include bandeaux/bandeau-florent.html %}
    {% endif %}

    {% if page.layout_remove_newsletter != true %}
    {% include bandeaux/bandeau-newsletter.html %}
    {% else %}
    <hr class="light-bg" />
    {% endif %}

    {% include footer.html %}
	
	  {% include modales/modal-rendez-vous.html %}
    
    {% include modales/modal-cookies.html %}

    {% include scripts.html %}

  </body>

</html>
