<!DOCTYPE html>
<html lang="fr" >

  {% include head.html %}

  <body class="{{ page.section }}">
    
    {% include noscript.html %}

    {% include navigation.html %}

    {{ content }}

    {% if page.layout_remove_option != 'florent' %}
    {% include bandeau-florent.html %}
    {% endif %}

    {% include bandeau-newsletter.html %}

    {% include footer.html %}
	
	  {% include modal-rendez-vous.html %}
    
    {% include modal-cookies.html %}

    {% include scripts.html %}

  </body>

</html>
