<!DOCTYPE html>
<html lang="fr" >

  {% include head.html %}

  <body class="essentiel">
    
    {% include noscript.html %}

    <header class="section header">
        <div class="container">
            <nav id="secondary-navbar" class="navbar" role="navigation" aria-label="secondary navigation">
                <div class="navbar-brand">
                    <a href="{{ site.baseurl }}/" class="master-logo"><img class="logo" src="/images/luminose-logo-hz.png" srcset="/images/luminose-logo-hz.png, /images/luminose-logo-hz@2x.png 2x" alt="Luminose"></a>
                </div>
            </nav>
            <div class="main-navbar-alt"></div>
      </div>
    </header>
    

    {{ content }}


    <hr class="light-bg" />

    <footer class="footer">
        <div class="container has-text-centered content">
          <p>© 2019-{{ 'now' | date: "%Y" }}, Luminose.fr</p>
        </div>
      </footer>

    {% include scripts.html %}

  </body>

</html>
